<div class="mainContainer">
  <div class="container">
    <div class="span12 pagination-centered">
      <h3 class="subtitle">Camera Ready Paper Instructions</h3>
    </div>
  </div>
  <hr>

  <div class="container">
    <div class="span12 pagination-centered">
      <div>
        <h4 class="paraTitle">01. Formatting Camera Ready Paper</h4>
        <p>Final camera-ready paper submissions must be limited to 6 pages accommodating reviewers' comments. Please
          DO NOT include page numbers
          in final submission. Use style files provided in IEEE Manuscript Templates for Conference Proceedings.
          Papers with formatting that does
          not exactly follow the template will not be accepted by IEEE Xplore and cannot be published. The appropriate
          copyright clearance code
          notice is to appear on the bottom, left-hand side of the first page of each paper, as follows:
        </p>
        <ul>
          <li>For papers in which all authors are employed by the US government, the copyright notice is:
            <strong>U.S. Government work not protected by U.S. copyright</strong></li>
          <li>For papers in which all authors are employed by a Crown government (UK, Canada, and Australia), the
            copyright notice is:
            <strong>978-1-7281-3632-5/19/$31.00 ©2019 Crown</strong></li>
          <li>For papers in which all authors are employed by the European Union, the copyright notice is:
            <strong>978-1-7281-3632-5/19/$31.00 ©2019 European Union</strong></li>
          <li>For all other papers the copyright notice is:
            <strong>978-1-7281-3632-5/19/$31.00 ©2019 IEEE</strong></li>
        </ul>

        <p>MS Word users can insert the appropriate copyright notice in a textbox, and place the box (without border) at
          the bottom left on the first page.<br>
          LaTeX users may refer an example code as follows to add before the {{defienition}} </p>

        <p>See an <a href="./docs/Paper-sample-with-copyright-note-MERCon-2015.pdf" target="_blank">example here.</a>
        </p>
      </div>
      <div>
        <h4 class="paraTitle">02. IEEE Copyright Form</h4>
        <p>IEEE policy requires that prior to publication all authors or their employers must transfer to the IEEE
          in writing any copyright they hold for
          their individual papers. Authors of accepted paper(s) must submit completed copyright form(s) via
          <strong>EDAS</strong>.</p>
        <p>See an <a href="docs/ieeecopyrightform-sample-MERCon-2015.pdf" target="_blank">example here.</a></p>
      </div>
      <div>
        <h4 class="paraTitle">03. Camera Ready Paper Submission</h4>
        <ul>
          <li>Please edit your paper by incorporating all reviewers' comments and use IEEE conference paper format.
          </li>
          <li>Please note that organizers reserve the right to reject your paper, if you don't modify your paper
            accordingly.</li>
          <li>Make sure your paper is IEEE PDF compliant by converting through <a href="http://www.pdf-express.org/"
              target="_blank">IEEE PDF eXpress</a> website. Please follow "Instructions to Prepare IEEE Compliant PDF
            of Papers" on <a href="authors.html">Author Instructions</a> page.</li>
          <li>Submit completed IEEE copyright form (online via EDAS) with the camera ready paper.</li>
          <li>Please upload your camera ready paper to <strong>EDAS</strong> by the given deadline.</li>
        </ul>
      </div>
    </div>
  </div>
</div>