li{
    padding: 3px;
}

.thickness-underline {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid rgb(115, 107, 107);
    margin-bottom: -1px;
}
.clear{
    height: 15px;
}