<div class="mainContainer">
  <div class="container">
    <div class="span12 pagination-centered">
      <h3 class="subtitle">Camera Ready Paper Instructions</h3>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="span12 pagination-centered">
      <div>
        <h4 class="thickness-underline">Preparing Camera Ready Paper</h4>
        <div class="clear"></div>
        <ul>
          <li>
            Please edit your paper by incorporating all reviewers' comments and use IEEE conference paper format. Please
            note that organizers reserve the right to reject your paper, if you don't modify your paper accordingly.
          </li>
          <li>The final camera-ready paper submission must be limited to 6 pages.
          </li>
          <li>
            It is strictly required to IEEE format and referencing style. The latest IEEE template could be found at
            <a href="https://www.ieee.org/conferences/publishing/templates.html"
              target="_blank">https://www.ieee.org/conferences/publishing/templates.html.
            </a>
            The papers which do not follow IEEE template
            will not be accepted by IEEE Xplore and cannot be published.
          </li>
          <li>
            Please DO NOT include page numbers in the final manuscript submission.
          </li>
          <li>
            The appropriate copyright clearance code notice is to appear on <b> the bottom, left-hand side of the first
              page
              of the paper, as follows:</b>
            <ul>
              <li>
                For papers in which all authors are employed by the US government, the copyright notice is: <b> U.S.
                  Government work not protected by U.S. copyright </b>
              </li>
              <li>
                For papers in which all authors are employed by a Crown government (UK, Canada, and Australia), the
                copyright notice is: <b> 978-1-5386-4417-1/18/$31.00 ©2018 Crown</b>
              </li>
              <li>
                For papers in which all authors are employed by the European Union, the copyright notice is:
                <b> 978-1-5386-4417-1/18/$31.00 ©2018 European Union </b>
              </li>
              <li>
                For all other papers the copyright notice is: <b>978-1-5386-4417-1/18/$31.00 ©2018 IEEE </b>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div>
        <h4 class="thickness-underline">Preparing the paper IEEE PDF compliant usng IEEE PDF eXpress </h4>
        <div class="clear"></div>
        <ul>
          <li>
            Before submit the paper, authors are instructed to prepare the paper IEEE PDF compliant.
            <ol>
              <li>
                Add the copyright notice to the bottom of <b> the bottom, left-hand side of the first page of the paper</b>
              </li>
              <li>
                Proofread your source document thoroughly to confirm that it will require no revision.
              </li>
            </ol>
          </li>
          <li>
            Follow the following instructions to prepare IEEE compliant PDF version of your accepted paper, this is
            compulsory for all accepted papers.
          </li>
          <li>Log in to the IEEE PDF eXpress TM site using <a href="http://www.pdf-express.org/"
              target="_blank">http://www.pdf-express.org/</a>
          </li>
          <li>First time users should create your PDF eXpress account First-time users should do the following:
            <ol>
              <li>
                Select the New Users - <a href="http://www.pdf-express.org/" target="_blank">Click Here</a>
              </li>
              <li>
                Enter the following:
                <ul>
                  <li>49409XP for the Conference ID </li>
                  <li>Your email address</li>
                  <li>Password</li>
                </ul>
              </li>
              <li>
                Continue to enter information as prompted. An Online confirmation will be displayed and an email
                confirmation will be sent verifying your account setup.
                Previous users of PDF eXpress need to follow the above steps, but should enter the same password that
                was used for previous conferences. Verify that your contact information is valid.
                <ul>
                  <li>49409XP for the Conference ID </li>
                  <li>Your email address</li>
                  <li>Password</li>
                </ul>
              </li>
            </ol>
          </li>
        </ul>
      </div>
      <div>
        <h4 class="thickness-underline">IEEE Copyright Form</h4>
        <div class="clear"></div>
        <ul>
          <li>Authors of accepted paper(s) must submit completed copyright form(s) along with the final manuscript
            submission. Papers submitted without copyright form will not be published.
          </li>
          <li>
            Fill your copyright form as follows
            <ol>
              <li>Write your paper title at
                <ul>
                  TITLE OF PAPER/ARTICLE/REPORT, INCLUDING ALL CONTENT IN ANY FORM, FORMAT, OR MEDIA (hereinafter, “the
                  Work”):
                </ul>
              </li>
              <li>
                Write list of authors at
                <ul>COMPLETE LIST OF AUTHORS:</ul>
              </li>
              <li> Write the conference title at
                <ul>
                  IEEE PUBLICATION TITLE (Journal, Magazine, Conference, Book): 2019 4th International Conference on
                  Information Technology Research (ICITR) (49409) 4. Place your signature and date.
                </ul>
              </li>
            </ol>
          </li>
          <li>
            The copyright form could be found <a href="assets/pdf/IEEE_Copyright_form.pdf" download>here</a>.
          </li>
        </ul>
      </div>
      <div>
        <h4 class="thickness-underline">
          Camera Ready Paper Submission
        </h4>
        <div class="clear"></div>
        <p>
          Send your IEEE PDF compliant camera ready paper to <span class="text-primary">sudanthabh@uom.lk</span> with
          <b>cc to</b> <span class="text-primary">icitr@uom.lk</span> along with
          scanned copy of the duly completed copyright form. Deadline for the camera ready paper submission is 23.59
          hours IST of December 10th, 2019.
        </p>
      </div>
    </div>
  </div>
</div>