<div class="footer-basic">
    <footer>
        <!-- <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
          class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i
          class="icon ion-social-facebook"></i></a></div>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Home</a></li>
      <li class="list-inline-item"><a href="#">Services</a></li>
      <li class="list-inline-item"><a href="#">About</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
    </ul> -->
        <p class="copyright"><a href="https://www.mrt.ac.lk/web/itfac/research/research-unit">Information Technology Research Unit</a>, <a href="https://www.mrt.ac.lk/web/itfac">Faculty of Information Technology</a>, <a href="https://www.mrt.ac.lk/web/">University of Moratuwa</a>,
            Sri Lanka</p>
        <p class="copyright">Telephone: +94 11 265 0286 ext. 8107, Email: icitr@uom.lk</p>
    </footer>
</div>