<div class="mainContainer">
  <div class="container">
    <div class="span12 pagination-centered">
      <h3 class="subtitle">Organizing Committee</h3>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="span12 pagination-centered">
      <div>
        <h3 class="paraTitle">General Chairs</h3>
        <div>
          <p>Eng. P.M. Karunaratne, University of Moratuwa, Sri Lanka</p>
          <p>Prof. Anura Jayasumana, Colorado State University, USA</p>
        </div>
      </div>
      <div>
        <h3 class="paraTitle">Conferance Chair</h3>
        <div>
          <p>Mr B. H. Sudantha, University of Moratuwa, Sri Lanka</p>
        </div>
      </div>
      <div>
        <h3 class="paraTitle">Program co-chairs</h3>
        <div>
          <p>Mr. S.C. Premaratne, University of Moratuwa, Sri Lanka</p>
          <p>Dr. L Ranathunga, University of Moratuwa, Sri Lanka</p>
          <p>Dr. G.U Ganegoda, University of Moratuwa, Sri Lanka</p>
        </div>
      </div>
      <div>
        <h3 class="paraTitle">Conferance Secretary</h3>
        <div>
          <p>Dr. K. S. N. Sumathipala, University of Moratuwa, Sri Lanka</p>
        </div>
      </div>
      <div>
        <h3 class="paraTitle">Technical programme committee chair</h3>
        <div>
          <p>Dr. Sanath Jayawardena, University of Moratuwa, Sri Lanka</p>
        </div>
      </div>
      <div>
        <h3 class="paraTitle">Technical programme committee co-chair</h3>
        <div>
          <p>Dr. Dilum Bandara, University of Moratuwa, Sri Lanka</p>
        </div>
      </div>
      <div>
        <h3 class="paraTitle">Technical programme committee</h3>
        <h5>International</h5>
        <div>
          <p>Dr. Damith Ranasinghe, University of Adelaide, Australia</p>
          <p>Dr. Upul Gunawardana, Western Sydney University, Australia</p>
          <p>Prof. Jimson Mathew, Indian Institute of Technology, Patna, India</p>
          <p>Prof. Chan-Yun Yang, National Taipei University, Taiwan</p>
          <p>Prof. Chinthaka Premachandra, Shibaura Institute of Technology, Japan</p>
          <p>Mr.Suwannit Chareen Chit , Universiti Utara Malaysia, Malaysia</p>
          <p>Prof. Suhaidi Hassan, Universiti Utara Malaysia, Malaysia</p>
          <p>Prof. Osman Ghazali, Universiti Utara Malaysia, Malaysia</p>
          <p>Dr. Ikram Ud Din, University of Peshawar, Pakistan</p>
          <p>Dr. Ibrahim Abdullahi, Ibrahim Badamasi Babangida University, Nigeria</p>
          <p>Dr. Kaushal Keraminiyage, University of Huddersfield, United Kingdom</p>
          <p>Dr. Thrishantha Nanayakkara, Imperial College, London</p>
          <p>Dr. Naseer Alquraishi, Wasit University, Iraq</p>
        </div>
        <h5>Local</h5>
        <div>
          <p>Emeritus Professor DA Tantrigoda, University of Sri Jayewardenepura, Sri Lanka</p>
          <p>Dr. Manjula Sandirigama, University of Peradeniya, Sri Lanka</p>
          <p>Dr. Ruvan Weerasinghe, University of Colombo School of Computing, Sri Lanka</p>
          <p>Mr. DDA Gamini University of Sri Jayewardenepura, Sri Lanka</p>
          <p>Mrs. Vishaka Nanayakkara, University of Moratuwa, Sri Lanka</p>
          <p>Dr. Ajantha Atukorale, University of Colombo School of Computing, Sri Lanka</p>
          <p>Prof. K.P Hewagamage, University of Colombo School of Computing, Sri Lanka</p>
          <p>Dr. Prasad Jayaweera, University of Sri Jayewaredenepura, Sri Lanka</p>
          <p>Dr. Senaka Amarakeerthi, University of Sri Jayewaredenepura, Sri Lanka</p>
          <p>Dr. HT Chaminda, Lanka Nippon BizTech Institute, Sri Lanka</p>
          <p>Dr. A Dharmawansa, Wayamba University of Sri Lanaka, Sri Lanka</p>
          <p>Dr. TGI Fernando, University of Sri Jayewardenepura, Sri Lanka</p>
          <p>Dr. L Gunawardena, University of Sri Jayewardenepura, Sri Lanka</p>
          <p>Dr. P Kalansuriya, Kothalawala Defence University, Sri Lanka</p>
          <p>Dr. WKIL Wanniarachchi, University of Sri Jayewardenepura, Sri Lanka</p>
          <p>Prof. A.S Karunananda, University of Moratuwa, Sri Lanka</p>
          <p>Dr.M.F.M Firdhous, University of Moratuwa, Sri Lanka</p>
          <p>Mr. S.C. Premaratne, University of Moratuwa, Sri Lanka</p>
          <p>Dr. L Ranathunga, University of Moratuwa, Sri Lanka</p>
          <p>Dr. C.R.J Amalraj, University of Moratuwa, Sri Lanka</p>
          <p>Dr. S Ahangama, University of Moratuwa, Sri Lanka</p>
          <p>Mr. C.P Wijesiriwardana, University of Moratuwa, Sri Lanka</p>
          <p>Dr. S. Adhikari, University of Moratuwa, Sri Lanka</p>
          <p>Mrs. K.A.D.T Kulawansa, University of Moratuwa, Sri Lanka</p>
          <p>Dr. (Mrs.) K.S.D Fernando, University of Moratuwa, Sri Lanka</p>
          <p>Dr. G.U Ganegoda, University of Moratuwa, Sri Lanka</p>
          <p>Dr. (Mrs.) A.T.P Silva, University of Moratuwa, Sri Lanka</p>
          <p>Dr. K. S. N. Sumathipala, University of Moratuwa, Sri Lanka</p>
          <p>Dr. (Ms.) T Piyathilake, University of Moratuwa, Sri Lanka</p>
          <p>Mrs. M.P. Dhanushika, University of Moratuwa, Sri Lanka</p>
          <p>Mrs. W.A.S.N Wijetunge, University of Moratuwa, Sri Lanka</p>
          <p>Mr. Prabath Samarasinghe, University of Sri Jayewardenepura, Sri Lanka</p>
          <p>Dr. (Mrs.) T.C Sandanayake, University of Moratuwa, Sri Lanka</p>
          <p>Dr. B.L.D Seneviratne, University of Moratuwa, Sri Lanka</p>
          <p>Mrs. W.M.R.M Weerasinghe, University of Moratuwa, Sri Lanka</p>
          <p>Ms. G.T Weerasuriya, University of Moratuwa, Sri Lanka</p>
        </div>
      </div>
    </div>
    <div>
      <h3 class="paraTitle">Publication committee</h3>
      <div>
        <p>Dr. (Mrs.) A.T.P Silva, University of Moratuwa, Sri Lanka</p>
        <p>Mr. C.P Wijesiriwardana, University of Moratuwa, Sri Lanka</p>
      </div>
    </div>
    <div>
      <h3 class="paraTitle">Industry liaison and sponsorship committee</h3>
      <div>
        <p>Dr. (Mrs.) T.C Sanadanayake, University of Moratuwa, Sri Lanka</p>
        <p>Dr. K. S. N. Sumathipala, University of Moratuwa, Sri Lanka</p>
      </div>
    </div>
    <div>
      <h3 class="paraTitle">Publicity & public relations committee</h3>
      <div>
        <p>Dr. S. Adhikari, University of Moratuwa, Sri Lanka</p>
        <p>Mrs. N. Kudamage, University of Moratuwa, Sri Lanka</p>
        <p>Ms. Uyani Jayarathne, University of Moratuwa, Sri Lanka</p>
      </div>
    </div>
    <div>
      <h3 class="paraTitle">Finance cairs</h3>
      <div>
        <p>Mr. S.C. Premaratne, University of Moratuwa, Sri Lanka</p>
        <p>Ms.GT Weerasuriya, University of Moratuwa, Sri Lanka</p>
      </div>
    </div>
    <div>
      <h3 class="paraTitle">Registration cairs</h3>
      <div>
        <p>Dr. (Mrs.) S Ahangama, University of Moratuwa, Sri Lanka</p>
        <p>Miss. GT Weerasuriya, University of Moratuwa, Sri Lanka</p>
        <p>Ms. P Nanthakumaran, University of Moratuwa, Sri Lanka</p>
        <p>Ms. M.A. Dharmara, University of Moratuwa, Sri Lanka</p>
      </div>
    </div>
  </div>
</div>




<!-- <h1 class="text-center title">Organizing Committee</h1> -->
<!-- <hr>
<div class="container">
  <div>
    <h5></h5>
  </div>
</div>
<hr>
<div class="container">
</div>
<hr>
<div class="container">
</div>
<hr>
<div class="container"> -->
<!-- <h3 class="subtitle">TECHNICAL PROGRAMME COMMITTEE CHAIR</h3>
    <div>
      <h5>Dr. Sanath Jayawardena, University of Moratuwa, Sri Lanka</h5>
    </div> -->
<!-- </div>
<hr>
<div class="container"> -->
<!-- <h3 class="subtitle">TECHNICAL PROGRAMME COMMITTEE CO-CHAIR</h3>
    <div>
      <h5>Dr. Dilum Bandara, University of Moratuwa, Sri Lanka</h5>
    </div> -->
<!-- </div>
<hr>
<div class="container">
  <h3 class="subtitle">TECHNICAL PROGRAMME COMMITTEE</h3>
  <h4 class="subtitle">INTERNATIONAL</h4>
  <div>
    <h5>Dr. Damith Ranasinghe, University of Adelaide, Australia</h5>
    <h5>Dr. Upul Gunawardana, Western Sydney University, Australia</h5>
    <h5>Prof. Jimson Mathew, Indian Institute of Technology, Patna, India</h5>
    <h5>Prof. Chan-Yun Yang, National Taipei University, Taiwan</h5>
    <h5>Prof. Chinthaka Premachandra, Shibaura Institute of Technology, Japan</h5>
    <h5>Mr.Suwannit Chareen Chit , Universiti Utara Malaysia, Malaysia</h5>
    <h5>Prof. Suhaidi Hassan, Universiti Utara Malaysia, Malaysia</h5>
    <h5>Prof. Osman Ghazali, Universiti Utara Malaysia, Malaysia</h5>
    <h5>Dr. Ikram Ud Din, University of Peshawar, Pakistan</h5>
    <h5>Dr. Ibrahim Abdullahi, Ibrahim Badamasi Babangida University, Nigeria</h5>
    <h5>Dr. Kaushal Keraminiyage, University of Huddersfield, United Kingdom</h5>
    <h5>Dr. Thrishantha Nanayakkara, Imperial College, London</h5>
    <h5>Dr. Naseer Alquraishi, Wasit University, Iraq</h5>
  </div>
  <h4 class="subtitle">LOCAL</h4>
  <div>
    <h5>Emeritus Professor DA Tantrigoda, University of Sri Jayewardenepura, Sri Lanka</h5>
    <h5>Dr. Manjula Sandirigama, University of Peradeniya, Sri Lanka</h5>
    <h5>Dr. Ruvan Weerasinghe, University of Colombo School of Computing, Sri Lanka</h5>
    <h5>Mr. DDA Gamini University of Sri Jayewardenepura, Sri Lanka</h5>
    <h5>Mrs. Vishaka Nanayakkara, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. Ajantha Atukorale, University of Colombo School of Computing, Sri Lanka</h5>
    <h5>Prof. K.P Hewagamage, University of Colombo School of Computing, Sri Lanka</h5>
    <h5>Dr. Prasad Jayaweera, University of Sri Jayewaredenepura, Sri Lanka</h5>
    <h5>Dr. Senaka Amarakeerthi, University of Sri Jayewaredenepura, Sri Lanka</h5>
    <h5>Dr. HT Chaminda, Lanka Nippon BizTech Institute, Sri Lanka</h5>
    <h5>Dr. A Dharmawansa, Wayamba University of Sri Lanaka, Sri Lanka</h5>
    <h5>Dr. TGI Fernando, University of Sri Jayewardenepura, Sri Lanka</h5>
    <h5>Dr. L Gunawardena, University of Sri Jayewardenepura, Sri Lanka</h5>
    <h5>Dr. P Kalansuriya, Kothalawala Defence University, Sri Lanka</h5>
    <h5>Dr. WKIL Wanniarachchi, University of Sri Jayewardenepura, Sri Lanka</h5>
    <h5>Prof. A.S Karunananda, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr.M.F.M Firdhous, University of Moratuwa, Sri Lanka</h5>
    <h5>Mr. S.C. Premaratne, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. L Ranathunga, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. C.R.J Amalraj, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. S Ahangama, University of Moratuwa, Sri Lanka</h5>
    <h5>Mr. C.P Wijesiriwardana, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. S. Adhikari, University of Moratuwa, Sri Lanka</h5>
    <h5>Mrs. K.A.D.T Kulawansa, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. (Mrs.) K.S.D Fernando, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. G.U Ganegoda, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. (Mrs.) A.T.P Silva, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. K. S. N. Sumathipala, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. (Ms.) T Piyathilake, University of Moratuwa, Sri Lanka</h5>
    <h5>Mrs. M.P. Dhanushika, University of Moratuwa, Sri Lanka</h5>
    <h5>Mrs. W.A.S.N Wijetunge, University of Moratuwa, Sri Lanka</h5>
    <h5>Mr. Prabath Samarasinghe, University of Sri Jayewardenepura, Sri Lanka</h5>
    <h5>Dr. (Mrs.) T.C Sandanayake, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. B.L.D Seneviratne, University of Moratuwa, Sri Lanka</h5>
    <h5>Mrs. W.M.R.M Weerasinghe, University of Moratuwa, Sri Lanka</h5>
    <h5>Ms. G.T Weerasuriya, University of Moratuwa, Sri Lanka</h5>
  </div>
</div>
<hr>-->
<!-- <div class="container">
  <h3 class="subtitle">PUBLICATION COMMITTEE</h3>
  <div>
    <h5>Dr. (Mrs.) A.T.P Silva, University of Moratuwa, Sri Lanka</h5>
    <h5>Mr. C.P Wijesiriwardana, University of Moratuwa, Sri Lanka</h5>
  </div>
</div>
<hr>
<div class="container">
  <h3 class="subtitle">INDUSTRY LIAISON AND SPONSORSHIP COMMITTEE</h3>
  <div>
    <h5>Dr. (Mrs.) T.C Sanadanayake, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. K. S. N. Sumathipala, University of Moratuwa, Sri Lanka</h5>
  </div>
</div>
<hr>
<div class="container">
  <h3 class="subtitle">PUBLICITY & PUBLIC RELATIONS COMMITTEE</h3>
  <div>
    <h5>Dr. S. Adhikari, University of Moratuwa, Sri Lanka</h5>
    <h5>Mrs. N. Kudamage, University of Moratuwa, Sri Lanka</h5>
    <h5>Ms. Uyani Jayarathne, University of Moratuwa, Sri Lanka</h5>
  </div>
</div>
<hr>
<div class="container">
  <h3 class="subtitle">FINANCE CHAIRS</h3>
  <div>
    <h5>Mr. S.C. Premaratne, University of Moratuwa, Sri Lanka</h5>
    <h5>Ms.GT Weerasuriya, University of Moratuwa, Sri Lanka</h5>
  </div>
</div>
<hr>
<div class="container">
  <h3 class="subtitle">REGISTRATION CHAIRS</h3>
  <div>
    <h5>Dr. (Mrs.) S Ahangama, University of Moratuwa, Sri Lanka</h5>
    <h5>Miss. GT Weerasuriya, University of Moratuwa, Sri Lanka</h5>
    <h5>Ms. P Nanthakumaran, University of Moratuwa, Sri Lanka</h5>
    <h5>Ms. M.A. Dharmara, University of Moratuwa, Sri Lanka</h5>
  </div>
</div>
<hr> -->