<div class="mainContainer">
    <div class="container">
        <div class="span12 pagination-centered">
            <h3 class="subtitle">Organizing Committee</h3>
        </div>
    </div>
    <hr>
    <div _ngcontent-mmn-c12="" class="container">
        <div _ngcontent-mmn-c12="" class="span12 pagination-centered">
            <div _ngcontent-mmn-c12="">
                <h3 _ngcontent-mmn-c12="" class="paraTitle">HONORARY CHAIR</h3>
                <div _ngcontent-mmn-c12="">
                    <p _ngcontent-mmn-c12="">Chan-Yun Yang, National Taipei University, Taiwan</p>
                </div>
            </div>
            <div _ngcontent-mmn-c12="">
                <h3 _ngcontent-mmn-c12="" class="paraTitle">INTERNATIONAL ADVISORY COMMITTEE</h3>
                <div _ngcontent-mmn-c12="">
                    <p _ngcontent-mmn-c12="">Anura Jayasumana, Colorado State University, USA</p>
                    <p _ngcontent-mmn-c12="">Nihal Kularatne, University of Waikato, New Zealand</p>
                    <p _ngcontent-mmn-c12="">Hiroharu Kawanaka, Mie University, Japan</p>
                    <p _ngcontent-mmn-c12="">Massimiliano Cannata, University of SUPSI, Switzerland</p>
                    <p _ngcontent-mmn-c12="">C Premachandra, Shibaura Institute of Technology, Japan</p>
                </div>
            </div>
            <div _ngcontent-mmn-c12="">
                <h3 _ngcontent-mmn-c12="" class="paraTitle">GENERAL CHAIR</h3>
                <div _ngcontent-mmn-c12="">
                    <p _ngcontent-mmn-c12="">PM Karunaratne, University of Moratuwa, Sri Lanka</p>
                </div>
            </div>
            <div _ngcontent-mmn-c12="">
                <h3 _ngcontent-mmn-c12="" class="paraTitle">CONFERENCE CHAIR</h3>
                <div _ngcontent-mmn-c12="">
                    <p _ngcontent-mmn-c12="">BH Sudantha, University of Moratuwa, Sri Lanka</p>
                </div>
            </div>
            <div _ngcontent-mmn-c12="">
                <h3 _ngcontent-mmn-c12="" class="paraTitle">CONFERENCE CO-CHAIRS</h3>
                <div _ngcontent-mmn-c12="">
                    <p _ngcontent-mmn-c12="">CP Wijesiriwardana, University of Moratuwa, Sri Lanka</p>
                    <p _ngcontent-mmn-c12="">ERIAC Manel, University of Moratuwa, Sri Lanka</p>
                    <p _ngcontent-mmn-c12="">BLD Seneviratne, University of Moratuwa, Sri Lanka</p>
                </div>
            </div>
            <div _ngcontent-mmn-c12="">
                <h3 _ngcontent-mmn-c12="" class="paraTitle">PROGRAM CHAIR</h3>
                <div _ngcontent-mmn-c12="">
                    <p _ngcontent-mmn-c12="">MFM Firdhous, University of Moratuwa, Sri Lanka</p>
                </div>
            </div>
            <div _ngcontent-mmn-c12="">
                <h3 _ngcontent-mmn-c12="" class="paraTitle">PROGRAM CO-CHAIRS</h3>
                <div _ngcontent-mmn-c12="">
                    <p _ngcontent-mmn-c12="">WASN Wijetunge, University of Moratuwa, Sri Lanka</p>
                    <p _ngcontent-mmn-c12="">ATP Silva, University of Moratuwa, Sri Lanka</p>
                    <p _ngcontent-mmn-c12="">L Ranathunga, University of Moratuwa, Sri Lanka</p>
                    <p _ngcontent-mmn-c12="">KSD Fernando, University of Moratuwa, Sri Lanka</p>
                    <p _ngcontent-mmn-c12="">GU Ganegoda, University of Moratuwa, Sri Lanka</p>
                </div>
            </div>
        </div>
        <div _ngcontent-mmn-c12="">
            <h3 _ngcontent-mmn-c12="" class="paraTitle">TECHNICAL PROGRAM COMMITTEE CHAIR</h3>
            <div _ngcontent-mmn-c12="">
                <p _ngcontent-mmn-c12="">SC Premaratne, University of Moratuwa, Sri Lanka</p>
            </div>
        </div>
        <div _ngcontent-mmn-c12="">
            <h3 _ngcontent-mmn-c12="" class="paraTitle">TECHNICAL PROGRAM COMMITTEE C0-CHAIR</h3>
            <div _ngcontent-mmn-c12="">
                <p _ngcontent-mmn-c12="">TSS Jayawardana, University of Moratuwa, Sri Lanka</p>
            </div>
        </div>
        <div _ngcontent-mmn-c12="">
            <h3 _ngcontent-mmn-c12="" class="paraTitle">PUBLICATION CHAIRS</h3>
            <div _ngcontent-mmn-c12="">
                <p _ngcontent-mmn-c12="">TC Sanadanayake, University of Moratuwa, Sri Lanka</p>
            </div>
        </div>
        <div _ngcontent-mmn-c12="">
            <h3 _ngcontent-mmn-c12="" class="paraTitle">CONFERENCE SECRETARY</h3>
            <div _ngcontent-mmn-c12="">
                <p _ngcontent-mmn-c12="">KSN Sumathipala, University of Moratuwa, Sri Lanka</p>
            </div>
        </div>
        <div _ngcontent-mmn-c12="">
            <h3 _ngcontent-mmn-c12="" class="paraTitle">INDUSTRY LIAISON CHAIR</h3>
            <div _ngcontent-mmn-c12="">
                <p _ngcontent-mmn-c12="">CRJ Amalraj, University of Moratuwa, Sri Lanka</p>
            </div>
        </div>
        <div _ngcontent-mmn-c12="">
            <h3 _ngcontent-mmn-c12="" class="paraTitle">PUBLICITY &amp; PUBLIC RELATIONS CHAIRS</h3>
            <div _ngcontent-mmn-c12="">
                <p _ngcontent-mmn-c12="">MP Dhanushika, University of Moratuwa, Sri Lanka</p>
            </div>
        </div>
        <div _ngcontent-mmn-c12="">
            <h3 _ngcontent-mmn-c12="" class="paraTitle">FINANCE CHAIR</h3>
            <div _ngcontent-mmn-c12="">
                <p _ngcontent-mmn-c12="">WMRM Weerasinghe, University of Moratuwa, Sri Lanka</p>
            </div>
        </div>
        <div _ngcontent-mmn-c12="">
            <h3 _ngcontent-mmn-c12="" class="paraTitle">REGISTRATION CHAIRS</h3>
            <div _ngcontent-mmn-c12="">
                <p _ngcontent-mmn-c12="">ITS Piyathilake, University of Moratuwa, Sri Lanka</p>
            </div>
        </div>
        <div _ngcontent-mmn-c12="">
            <h3 _ngcontent-mmn-c12="" class="paraTitle">AWARDS CHAIR</h3>
            <div _ngcontent-mmn-c12="">
                <p _ngcontent-mmn-c12="">Piyumal Ranawaka, University of Moratuwa, Sri Lanka</p>
            </div>
        </div>
        <div _ngcontent-mmn-c12="">
            <h3 _ngcontent-mmn-c12="" class="paraTitle">TUTORIALS AND WORKSHOPS</h3>
            <div _ngcontent-mmn-c12="">
                <p _ngcontent-mmn-c12="">CP Wijesiriwardana, University of Moratuwa, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">Piyumal Ranawaka, University of Moratuwa, Sri Lanka</p>
            </div>
        </div>
        <div _ngcontent-mmn-c12="">
            <h3 _ngcontent-mmn-c12="" class="paraTitle">LOCAL ORGANIZING CHAIRS</h3>
            <div _ngcontent-mmn-c12="">
                <p _ngcontent-mmn-c12="">WASN Wijetunge, University of Moratuwa, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">ATP Silva, University of Moratuwa, Sri Lanka</p>
            </div>
        </div>
        <div _ngcontent-mmn-c12="">
            <h3 _ngcontent-mmn-c12="" class="paraTitle">LOCAL ORGANIZING COMMITTEE</h3>
            <div _ngcontent-mmn-c12="">
                <p _ngcontent-mmn-c12="">SC Premaratne, University of Moratuwa, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">L Ranathunga, University of Moratuwa, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">CRJ Amalraj, University of Moratuwa, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">S Ahangama, University of Moratuwa, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">CP Wijesiriwardana, University of Moratuwa, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">KSD Fernando, University of Moratuwa, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">GU Ganegoda, University of Moratuwa, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">ITS Piyathilake, University of Moratuwa, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">MP Dhanushika, University of Moratuwa, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">TC Sandanayake, University of Moratuwa, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">BLD Seneviratne, University of Moratuwa, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">WMRM Weerasinghe, University of Moratuwa, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">Piyumal Ranawaka, University of Moratuwa, Sri Lanka</p>
            </div>
        </div>
        <div _ngcontent-mmn-c12="">
            <h3 _ngcontent-mmn-c12="" class="paraTitle">TECHNICAL PROGRAM COMMITTEE AND REVIEWERS</h3>
            <h6 _ngcontent-mmn-c12="">INTERNATIONAL</h6>
            <div _ngcontent-mmn-c12="">
                <p _ngcontent-mmn-c12="">Damith Ranasinghe, University of Adelaide, Australia</p>
                <p _ngcontent-mmn-c12="">Upul Gunawardana, Western Sydney University, Australia</p>
                <p _ngcontent-mmn-c12="">Jimson Mathew, Indian Institute of Technology, Patna, India</p>
                <p _ngcontent-mmn-c12="">Chinthaka Premachandra, Shibaura Institute of Technology, Japan</p>
                <p _ngcontent-mmn-c12="">Suwannit Chareen Chit, Universiti Utara Malaysia, Malaysia</p>
                <p _ngcontent-mmn-c12="">Suhaidi Hassan, Universiti Utara Malaysia, Malaysia</p>
                <p _ngcontent-mmn-c12="">Osman Ghazali, Universiti Utara Malaysia, Malaysia</p>
                <p _ngcontent-mmn-c12="">Ikram Ud Din, University of Peshawar, Pakistan</p>
                <p _ngcontent-mmn-c12="">Hooman Samani, National Taipei University, Taiwan</p>
                <p _ngcontent-mmn-c12="">C Yun Yang, National Taipei University, Taiwan</p>
                <p _ngcontent-mmn-c12="">Ibrahim Abdullahi, Ibrahim Badamasi Babangida University, Nigeria</p>
                <p _ngcontent-mmn-c12="">Kaushal Keraminiyage, University of Huddersfield, United Kingdom</p>
                <p _ngcontent-mmn-c12="">Thrishantha Nanayakkara, Imperial College, London</p>
                <p _ngcontent-mmn-c12="">Naseer Alquraishi, Wasit University, Iraq</p>
                <p _ngcontent-mmn-c12="">S Adhikari, National University of Singapore, Singapore</p>
            </div>
            <h6 _ngcontent-mmn-c12="">LOCAL</h6>
            <div _ngcontent-mmn-c12="">
                <p _ngcontent-mmn-c12="">Emeritus Professor DA Tantrigoda, University of Sri Jayewardenepura, Sri Lanka
                </p>
                <p _ngcontent-mmn-c12="">AS Karunananda, University of Moratuwa, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">MFM Firdhous, University of Moratuwa, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">Manjula Sandirigama, University of Peradeniya, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">Ruvan Weerasinghe, University of Colombo School of Computing, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">DDA Gamini University of Sri Jayewardenepura, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">Ajantha Atukorale, University of Colombo School of Computing, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">KP Hewagamage, University of Colombo School of Computing, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">Sanath Jayawardena, University of Moratuwa, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">Prasad Jayaweera, University of Sri Jayewaredenepura, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">Senaka Amarakeerthi, University of Sri Jayewaredenepura, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">HT Chaminda, Lanka Nippon BizTech Institute, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">A Dharmawansa, Wayamba University of Sri Lanaka, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">TGI Fernando, University of Sri Jayewardenepura, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">L Gunawardena, University of Sri Jayewardenepura, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">P Kalansuriya, Kothalawala Defence University, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">WKIL Wanniarachchi, University of Sri Jayewardenepura, Sri Lanka</p>
            </div>
        </div>
        <div _ngcontent-mmn-c12="">
            <h3 _ngcontent-mmn-c12="" class="paraTitle">EDITORIAL BOARD</h3>
            <div _ngcontent-mmn-c12="">
                <p _ngcontent-mmn-c12="">BH Sudantha, University of Moratuwa, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">Sanath Jayawardena, University of Moratuwa, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">TC Sandanayake, University of Moratuwa, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">CP Wijesiriwardana, University of Moratuwa, Sri Lanka</p>
                <p _ngcontent-mmn-c12="">KSN Sumathipala, University of Moratuwa, Sri Lanka</p>
            </div>
        </div>
        <div _ngcontent-mmn-c12="">
            <h3 _ngcontent-mmn-c12="" class="paraTitle">WEB TEAM</h3>
            <div _ngcontent-mmn-c12="">
                <p _ngcontent-mmn-c12="">BH Sudantha, Coordinator</p>
                <p _ngcontent-mmn-c12="">Sandaruwan Wijerathne, Webmaster</p>
                <p _ngcontent-mmn-c12="">Danushka Dissanayaka, Webmaster</p>
            </div>
        </div>
    </div>

    <!-- <div class="container">
        <div class="span12 pagination-centered">

            <div class="row">
                <div class="col-4">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#a" role="tab" aria-controls="home">Honorary Chair</a>
                        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#b" role="tab" aria-controls="profile">International Advisory Committee</a>
                        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#c" role="tab" aria-controls="messages">General Chair</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#d" role="tab" aria-controls="settings">conference Co-chairs</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#e" role="tab" aria-controls="settings">Program Chair</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#f" role="tab" aria-controls="settings">program Co-chairs</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#g" role="tab" aria-controls="settings">Technical program Committee Chair</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#h" role="tab" aria-controls="settings">Technical program Committee Co-chair</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#i" role="tab" aria-controls="settings">Conference Secretary</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#j" role="tab" aria-controls="settings">Industry Liaison Chair</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#k" role="tab" aria-controls="settings">Publicity & Public Relations chairs</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#l" role="tab" aria-controls="settings">Finance Chair</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#m" role="tab" aria-controls="settings">Registration Chairs</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#n" role="tab" aria-controls="settings">Awards Chair</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#o" role="tab" aria-controls="settings">Tutorials And Workshops</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#p" role="tab" aria-controls="settings">Local Organizing chairs</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#q" role="tab" aria-controls="settings">Local Organizing Committee</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#r" role="tab" aria-controls="settings">Technical Program committee and Reviewrs</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#s" role="tab" aria-controls="settings">Editorial Board</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#t" role="tab" aria-controls="settings">Web team</a>

                    </div>
                </div>
                <div class="col-8">
                    <div style="margin-top: 20px">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="a" role="tabpanel" aria-labelledby="list-home-list">
                                <p>Chan-Yun Yang, National Taipei University, Taiwan</p>
                            </div>
                            <div class="tab-pane fade" id="b" role="tabpanel" aria-labelledby="list-profile-list">
                                <p>Anura Jayasumana, Colorado State University, USA</p>
                                <p>Nihal Kularatne, University of Waikato, New Zealand</p>
                                <p>Rossana Maria De Castro Andrade, Federal University of Ceará, Brazil</p>
                                <p>Hiroharu Kawanaka, Mie University, Japan</p>
                                <p>Massimiliano Cannata, University of SUPSI, Switzerland</p>
                                <p>Chinthaka Premachandra, Shibaura Institute of Technology, Japan</p>
                            </div>
                            <div class="tab-pane fade" id="c" role="tabpanel" aria-labelledby="list-messages-list">
                                <p>PM Karunaratne, University of Moratuwa, Sri Lanka</p>
                            </div>
                            <div class="tab-pane fade" id="d" role="tabpanel" aria-labelledby="list-settings-list">
                                <p>BH Sudantha, University of Moratuwa, Sri Lanka</p>
                            </div>

                            <div class="tab-pane fade" id="e" role="tabpanel" aria-labelledby="list-settings-list">
                                <p>CP Wijesiriwardana, University of Moratuwa, Sri Lanka</p>
                                <p>ERIAC Manel, University of Moratuwa, Sri Lanka</p>
                                <p>BLD Seneviratne, University of Moratuwa, Sri Lanka</p>
                            </div>

                            <div class="tab-pane fade" id="f" role="tabpanel" aria-labelledby="list-settings-list">
                                <p>MFM Firdhous, University of Moratuwa, Sri Lanka</p>
                            </div>

                            <div class="tab-pane fade" id="g" role="tabpanel" aria-labelledby="list-settings-list">
                                <p>WASN Wijetunge, University of Moratuwa, Sri Lanka</p>
                                <p>ATP Silva, University of Moratuwa, Sri Lanka</p>
                                <p>L Ranathunga, University of Moratuwa, Sri Lanka</p>
                                <p>KSD Fernando, University of Moratuwa, Sri Lanka</p>
                                <p>GU Ganegoda, University of Moratuwa, Sri Lanka</p>
                            </div>

                            <div class="tab-pane fade" id="h" role="tabpanel" aria-labelledby="list-settings-list">
                                <p>SC Premaratne, University of Moratuwa, Sri Lanka</p>
                            </div>

                            <div class="tab-pane fade" id="i" role="tabpanel" aria-labelledby="list-settings-list">
                                <p>TSS Jayawardana, University of Moratuwa, Sri Lanka</p>
                            </div>

                            <div class="tab-pane fade" id="j" role="tabpanel" aria-labelledby="list-settings-list">
                                <p>TC Sanadanayake, University of Moratuwa, Sri Lanka</p>
                            </div>

                            <div class="tab-pane fade" id="k" role="tabpanel" aria-labelledby="list-settings-list">
                                <p>KSN Sumathipala, University of Moratuwa, Sri Lanka</p>
                            </div>
                            <div class="tab-pane fade" id="l" role="tabpanel" aria-labelledby="list-settings-list">
                                <p>CRJ Amalraj, University of Moratuwa, Sri Lanka</p>
                            </div>
                            <div class="tab-pane fade" id="m" role="tabpanel" aria-labelledby="list-settings-list">
                                <p>S Ahangama, University of Moratuwa, Sri Lanka</p>
                                <p>MP Dhanushika, University of Moratuwa, Sri Lanka</p>
                            </div>
                            <div class="tab-pane fade" id="n" role="tabpanel" aria-labelledby="list-settings-list">
                                <p>WMRM Weerasinghe, University of Moratuwa, Sri Lanka</p>
                            </div>
                            <div class="tab-pane fade" id="o" role="tabpanel" aria-labelledby="list-settings-list">
                                <p>ITS Piyathilake, University of Moratuwa, Sri Lanka</p>
                            </div>
                            <div class="tab-pane fade" id="p" role="tabpanel" aria-labelledby="list-settings-list">
                                <p>Piyumal Ranawaka, University of Moratuwa, Sri Lanka</p>
                            </div>
                            <div class="tab-pane fade" id="q" role="tabpanel" aria-labelledby="list-settings-list">
                                <p>CP Wijesiriwardana, University of Moratuwa, Sri Lanka</p>
                                <p>Piyumal Ranawaka, University of Moratuwa, Sri Lanka</p>
                            </div>
                            <div class="tab-pane fade" id="r" role="tabpanel" aria-labelledby="list-settings-list">
                                <p>WASN Wijetunge, University of Moratuwa, Sri Lanka</p>
                                <p>ATP Silva, University of Moratuwa, Sri Lanka</p>
                            </div>
                            <div class="tab-pane fade" id="s" role="tabpanel" aria-labelledby="list-settings-list">
                                <p>SC Premaratne, University of Moratuwa, Sri Lanka</p>
                                <p>L Ranathunga, University of Moratuwa, Sri Lanka</p>
                                <p>CRJ Amalraj, University of Moratuwa, Sri Lanka</p>
                                <p>S Ahangama, University of Moratuwa, Sri Lanka</p>
                                <p>CP Wijesiriwardana, University of Moratuwa, Sri Lanka</p>
                                <p>KSD Fernando, University of Moratuwa, Sri Lanka</p>
                                <p>GU Ganegoda, University of Moratuwa, Sri Lanka</p>
                                <p>ITS Piyathilake, University of Moratuwa, Sri Lanka</p>
                                <p>MP Dhanushika, University of Moratuwa, Sri Lanka</p>
                                <p>TC Sandanayake, University of Moratuwa, Sri Lanka</p>
                                <p>BLD Seneviratne, University of Moratuwa, Sri Lanka</p>
                                <p>WMRM Weerasinghe, University of Moratuwa, Sri Lanka</p>
                                <p>Piyumal Ranawaka, University of Moratuwa, Sri Lanka</p>
                            </div>
                            <div class="tab-pane fade" id="t" role="tabpanel" aria-labelledby="list-settings-list">
                                <h6>INTERNATIONAL</h6>
                                <div>
                                    <p>Damith Ranasinghe, University of Adelaide, Australia</p>
                                    <p>Upul Gunawardana, Western Sydney University, Australia</p>
                                    <p>Jimson Mathew, Indian Institute of Technology, Patna, India</p>
                                    <p>Chinthaka Premachandra, Shibaura Institute of Technology, Japan</p>
                                    <p>Suwannit Chareen Chit, Universiti Utara Malaysia, Malaysia</p>
                                    <p>Suhaidi Hassan, Universiti Utara Malaysia, Malaysia</p>
                                    <p>Osman Ghazali, Universiti Utara Malaysia, Malaysia</p>
                                    <p>Ikram Ud Din, University of Peshawar, Pakistan</p>
                                    <p>Hooman Samani, National Taipei University, Taiwan</p>
                                    <p>C Yun Yang, National Taipei University, Taiwan</p>
                                    <p>Ibrahim Abdullahi, Ibrahim Badamasi Babangida University, Nigeria</p>
                                    <p>Kaushal Keraminiyage, University of Huddersfield, United Kingdom</p>
                                    <p>Thrishantha Nanayakkara, Imperial College, London</p>
                                    <p>Naseer Alquraishi, Wasit University, Iraq</p>
                                    <p>S Adhikari, National University of Singapore, Singapore</p>
                                </div>
                                <h6>LOCAL</h6>
                                <div>
                                    <p>Emeritus Professor DA Tantrigoda, University of Sri Jayewardenepura, Sri Lanka</p>
                                    <p>AS Karunananda, University of Moratuwa, Sri Lanka</p>
                                    <p>MFM Firdhous, University of Moratuwa, Sri Lanka</p>
                                    <p>Manjula Sandirigama, University of Peradeniya, Sri Lanka</p>
                                    <p>Ruvan Weerasinghe, University of Colombo School of Computing, Sri Lanka</p>
                                    <p>DDA Gamini University of Sri Jayewardenepura, Sri Lanka</p>
                                    <p>Ajantha Atukorale, University of Colombo School of Computing, Sri Lanka</p>
                                    <p>KP Hewagamage, University of Colombo School of Computing, Sri Lanka</p>
                                    <p>Sanath Jayawardena, University of Moratuwa, Sri Lanka</p>
                                    <p>Prasad Jayaweera, University of Sri Jayewaredenepura, Sri Lanka</p>
                                    <p>Senaka Amarakeerthi, University of Sri Jayewaredenepura, Sri Lanka</p>
                                    <p>HT Chaminda, Lanka Nippon BizTech Institute, Sri Lanka</p>
                                    <p>A Dharmawansa, Wayamba University of Sri Lanaka, Sri Lanka</p>
                                    <p>TGI Fernando, University of Sri Jayewardenepura, Sri Lanka</p>
                                    <p>L Gunawardena, University of Sri Jayewardenepura, Sri Lanka</p>
                                    <p>P Kalansuriya, Kothalawala Defence University, Sri Lanka</p>
                                    <p>WKIL Wanniarachchi, University of Sri Jayewardenepura, Sri Lanka</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="u" role="tabpanel" aria-labelledby="list-settings-list">
                                <p>BH Sudantha, University of Moratuwa, Sri Lanka</p>
                                <p>Sanath Jayawardena, University of Moratuwa, Sri Lanka</p>
                                <p>TC Sandanayake, University of Moratuwa, Sri Lanka</p>
                                <p>CP Wijesiriwardana, University of Moratuwa, Sri Lanka</p>
                                <p>KSN Sumathipala, University of Moratuwa, Sri Lanka</p>
                            </div>
                            <div class="tab-pane fade" id="v" role="tabpanel" aria-labelledby="list-settings-list">
                                <p>BH Sudantha, Coordinator</p>
                                <p>Sandaruwan Wijerathne, Webmaster</p>
                                <p>Danushka Dissanayaka, Webmaster</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->



    <!-- <h1 class="text-center title">Organizing Committee</h1> -->
    <!-- <hr>
<div class="container">
  <div>
    <h5></h5>
  </div>
</div>
<hr>
<div class="container">
</div>
<hr>
<div class="container">
</div>
<hr>
<div class="container"> -->
    <!-- <h3 class="subtitle">TECHNICAL PROGRAMME COMMITTEE CHAIR</h3>
    <div>
      <h5>Dr. Sanath Jayawardena, University of Moratuwa, Sri Lanka</h5>
    </div> -->
    <!-- </div>
<hr>
<div class="container"> -->
    <!-- <h3 class="subtitle">TECHNICAL PROGRAMME COMMITTEE CO-CHAIR</h3>
    <div>
      <h5>Dr. Dilum Bandara, University of Moratuwa, Sri Lanka</h5>
    </div> -->
    <!-- </div>
<hr>
<div class="container">
  <h3 class="subtitle">TECHNICAL PROGRAMME COMMITTEE</h3>
  <h4 class="subtitle">INTERNATIONAL</h4>
  <div>
    <h5>Dr. Damith Ranasinghe, University of Adelaide, Australia</h5>
    <h5>Dr. Upul Gunawardana, Western Sydney University, Australia</h5>
    <h5>Prof. Jimson Mathew, Indian Institute of Technology, Patna, India</h5>
    <h5>Prof. Chan-Yun Yang, National Taipei University, Taiwan</h5>
    <h5>Prof. Chinthaka Premachandra, Shibaura Institute of Technology, Japan</h5>
    <h5>Mr.Suwannit Chareen Chit , Universiti Utara Malaysia, Malaysia</h5>
    <h5>Prof. Suhaidi Hassan, Universiti Utara Malaysia, Malaysia</h5>
    <h5>Prof. Osman Ghazali, Universiti Utara Malaysia, Malaysia</h5>
    <h5>Dr. Ikram Ud Din, University of Peshawar, Pakistan</h5>
    <h5>Dr. Ibrahim Abdullahi, Ibrahim Badamasi Babangida University, Nigeria</h5>
    <h5>Dr. Kaushal Keraminiyage, University of Huddersfield, United Kingdom</h5>
    <h5>Dr. Thrishantha Nanayakkara, Imperial College, London</h5>
    <h5>Dr. Naseer Alquraishi, Wasit University, Iraq</h5>
  </div>
  <h4 class="subtitle">LOCAL</h4>
  <div>
    <h5>Emeritus Professor DA Tantrigoda, University of Sri Jayewardenepura, Sri Lanka</h5>
    <h5>Dr. Manjula Sandirigama, University of Peradeniya, Sri Lanka</h5>
    <h5>Dr. Ruvan Weerasinghe, University of Colombo School of Computing, Sri Lanka</h5>
    <h5>Mr. DDA Gamini University of Sri Jayewardenepura, Sri Lanka</h5>
    <h5>Mrs. Vishaka Nanayakkara, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. Ajantha Atukorale, University of Colombo School of Computing, Sri Lanka</h5>
    <h5>Prof. K.P Hewagamage, University of Colombo School of Computing, Sri Lanka</h5>
    <h5>Dr. Prasad Jayaweera, University of Sri Jayewaredenepura, Sri Lanka</h5>
    <h5>Dr. Senaka Amarakeerthi, University of Sri Jayewaredenepura, Sri Lanka</h5>
    <h5>Dr. HT Chaminda, Lanka Nippon BizTech Institute, Sri Lanka</h5>
    <h5>Dr. A Dharmawansa, Wayamba University of Sri Lanaka, Sri Lanka</h5>
    <h5>Dr. TGI Fernando, University of Sri Jayewardenepura, Sri Lanka</h5>
    <h5>Dr. L Gunawardena, University of Sri Jayewardenepura, Sri Lanka</h5>
    <h5>Dr. P Kalansuriya, Kothalawala Defence University, Sri Lanka</h5>
    <h5>Dr. WKIL Wanniarachchi, University of Sri Jayewardenepura, Sri Lanka</h5>
    <h5>Prof. A.S Karunananda, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr.M.F.M Firdhous, University of Moratuwa, Sri Lanka</h5>
    <h5>Mr. S.C. Premaratne, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. L Ranathunga, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. C.R.J Amalraj, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. S Ahangama, University of Moratuwa, Sri Lanka</h5>
    <h5>Mr. C.P Wijesiriwardana, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. S. Adhikari, University of Moratuwa, Sri Lanka</h5>
    <h5>Mrs. K.A.D.T Kulawansa, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. (Mrs.) K.S.D Fernando, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. G.U Ganegoda, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. (Mrs.) A.T.P Silva, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. K. S. N. Sumathipala, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. (Ms.) T Piyathilake, University of Moratuwa, Sri Lanka</h5>
    <h5>Mrs. M.P. Dhanushika, University of Moratuwa, Sri Lanka</h5>
    <h5>Mrs. W.A.S.N Wijetunge, University of Moratuwa, Sri Lanka</h5>
    <h5>Mr. Prabath Samarasinghe, University of Sri Jayewardenepura, Sri Lanka</h5>
    <h5>Dr. (Mrs.) T.C Sandanayake, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. B.L.D Seneviratne, University of Moratuwa, Sri Lanka</h5>
    <h5>Mrs. W.M.R.M Weerasinghe, University of Moratuwa, Sri Lanka</h5>
    <h5>Ms. G.T Weerasuriya, University of Moratuwa, Sri Lanka</h5>
  </div>
</div>
<hr>-->
    <!-- <div class="container">
  <h3 class="subtitle">PUBLICATION COMMITTEE</h3>
  <div>
    <h5>Dr. (Mrs.) A.T.P Silva, University of Moratuwa, Sri Lanka</h5>
    <h5>Mr. C.P Wijesiriwardana, University of Moratuwa, Sri Lanka</h5>
  </div>
</div>
<hr>
<div class="container">
  <h3 class="subtitle">INDUSTRY LIAISON AND SPONSORSHIP COMMITTEE</h3>
  <div>
    <h5>Dr. (Mrs.) T.C Sanadanayake, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. K. S. N. Sumathipala, University of Moratuwa, Sri Lanka</h5>
  </div>
</div>
<hr>
<div class="container">
  <h3 class="subtitle">PUBLICITY & PUBLIC RELATIONS COMMITTEE</h3>
  <div>
    <h5>Dr. S. Adhikari, University of Moratuwa, Sri Lanka</h5>
    <h5>Mrs. N. Kudamage, University of Moratuwa, Sri Lanka</h5>
    <h5>Ms. Uyani Jayarathne, University of Moratuwa, Sri Lanka</h5>
  </div>
</div>
<hr>
<div class="container">
  <h3 class="subtitle">FINANCE CHAIRS</h3>
  <div>
    <h5>Mr. S.C. Premaratne, University of Moratuwa, Sri Lanka</h5>
    <h5>Ms.GT Weerasuriya, University of Moratuwa, Sri Lanka</h5>
  </div>
</div>
<hr>
<div class="container">
  <h3 class="subtitle">REGISTRATION CHAIRS</h3>
  <div>
    <h5>Dr. (Mrs.) S Ahangama, University of Moratuwa, Sri Lanka</h5>
    <h5>Miss. GT Weerasuriya, University of Moratuwa, Sri Lanka</h5>
    <h5>Ms. P Nanthakumaran, University of Moratuwa, Sri Lanka</h5>
    <h5>Ms. M.A. Dharmara, University of Moratuwa, Sri Lanka</h5>
  </div>
</div>
<hr> -->