<div class="mainContainer">
  <div class="container">
    <div class="span12 pagination-centered">
      <h3 class="subtitle">Organizing Committee</h3>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="span12 pagination-centered">
      <div>
        <h3 class="paraTitle">HONORARY CHAIR</h3>
        <div>
          <p>Chan-Yun Yang, National Taipei University, Taiwan</p>
        </div>
      </div>
      <div>
        <h3 class="paraTitle">INTERNATIONAL ADVISORY COMMITTEE</h3>
        <div>
          <p>Anura Jayasumana, Colorado State University, USA</p>
          <p>Nihal Kularatne, University of Waikato, New Zealand</p>
          <p>Hiroharu Kawanaka, Mie University, Japan</p>
          <p>Massimiliano Cannata, University of SUPSI, Switzerland</p>
          <p>C Premachandra, Shibaura Institute of Technology, Japan</p>
        </div>
      </div>
      <div>
        <h3 class="paraTitle">GENERAL CHAIR</h3>
        <div>
          <p>PM Karunaratne, University of Moratuwa, Sri Lanka</p>
        </div>
      </div>
      <div>
        <h3 class="paraTitle">CONFERENCE CHAIR</h3>
        <div>
          <p>BH Sudantha, University of Moratuwa, Sri Lanka</p>
        </div>
      </div>
      <div>
        <h3 class="paraTitle">CONFERENCE CO-CHAIRS</h3>
        <div>
          <p>CP Wijesiriwardana, University of Moratuwa, Sri Lanka</p>
          <p>ERIAC Manel, University of Moratuwa, Sri Lanka</p>
          <p>BLD Seneviratne, University of Moratuwa, Sri Lanka</p>

        </div>
      </div>
      <div>
        <h3 class="paraTitle">PROGRAM CHAIR</h3>
        <div>
          <p>MFM Firdhous, University of Moratuwa, Sri Lanka</p>
        </div>
      </div>
      <div>
        <h3 class="paraTitle">PROGRAM CO-CHAIRS</h3>
        <div>
          <p>WASN Wijetunge, University of Moratuwa, Sri Lanka</p>
          <p>ATP Silva, University of Moratuwa, Sri Lanka</p>
          <p>L Ranathunga, University of Moratuwa, Sri Lanka</p>
          <p>KSD Fernando, University of Moratuwa, Sri Lanka</p>
          <p>GU Ganegoda, University of Moratuwa, Sri Lanka</p>
        </div>
      </div>
    </div>
    <div>
      <h3 class="paraTitle">TECHNICAL PROGRAM COMMITTEE CHAIR</h3>
      <div>
        <p>SC Premaratne, University of Moratuwa, Sri Lanka</p>
      </div>
    </div>
    <div>
      <h3 class="paraTitle">TECHNICAL PROGRAM COMMITTEE CO-CHAIR</h3>
      <div>
        <p>TSS Jayawardana, University of Moratuwa, Sri Lanka</p>
      </div>
    </div>
    <div>
      <h3 class="paraTitle">TECHNICAL PROGRAM COMMITTEE</h3>
      <div>
        <p>Hakim A Usoof, University of Peradeniya, Sri Lanka</p>
        <p>Marcus Hoffmann, University of SUPSI, Switzerland</p>
      </div>
    </div>
    <div>
      <h3 class="paraTitle">PUBLICATION CHAIRS</h3>
      <div>
        <p>TC Sanadanayake, University of Moratuwa, Sri Lanka</p>
      </div>
    </div>
    <div>
      <h3 class="paraTitle">CONFERENCE SECRETARY</h3>
      <div>
        <p>KSN Sumathipala, University of Moratuwa, Sri Lanka</p>
      </div>
    </div>
    <div>
      <h3 class="paraTitle">INDUSTRY LIAISON CHAIR</h3>
      <div>
        <p>CRJ Amalraj, University of Moratuwa, Sri Lanka</p>
      </div>
    </div>
    <div>
      <h3 class="paraTitle">PUBLICITY & PUBLIC RELATIONS CHAIRS</h3>
      <div>
        <p>MP Dhanushika, University of Moratuwa, Sri Lanka</p>
      </div>
    </div>
    <div>
      <h3 class="paraTitle">FINANCE CHAIR</h3>
      <div>
        <p>WMRM Weerasinghe, University of Moratuwa, Sri Lanka</p>
      </div>
    </div>
    <div>
      <h3 class="paraTitle">REGISTRATION CHAIRS</h3>
      <div>
        <p>ITS Piyathilake, University of Moratuwa, Sri Lanka</p>
      </div>
    </div>
    <div>
      <h3 class="paraTitle">AWARDS CHAIR</h3>
      <div>
        <p>Piyumal Ranawaka, University of Moratuwa, Sri Lanka</p>
      </div>
    </div>
    <div>
      <h3 class="paraTitle">TUTORIALS AND WORKSHOPS</h3>
      <div>
        <p>CP Wijesiriwardana, University of Moratuwa, Sri Lanka</p>
        <p>Piyumal Ranawaka, University of Moratuwa, Sri Lanka</p>
      </div>
    </div>
    <div>
      <h3 class="paraTitle">LOCAL ORGANIZING CHAIRS</h3>
      <div>
        <p>WASN Wijetunge, University of Moratuwa, Sri Lanka</p>
        <p>ATP Silva, University of Moratuwa, Sri Lanka</p>
      </div>
    </div>
    <div>
      <h3 class="paraTitle">LOCAL ORGANIZING COMMITTEE</h3>
      <div>
        <p>SC Premaratne, University of Moratuwa, Sri Lanka</p>
        <p>L Ranathunga, University of Moratuwa, Sri Lanka</p>
        <p>CRJ Amalraj, University of Moratuwa, Sri Lanka</p>
        <p>S Ahangama, University of Moratuwa, Sri Lanka</p>
        <p>CP Wijesiriwardana, University of Moratuwa, Sri Lanka</p>
        <p>KSD Fernando, University of Moratuwa, Sri Lanka</p>
        <p>GU Ganegoda, University of Moratuwa, Sri Lanka</p>
        <p>ITS Piyathilake, University of Moratuwa, Sri Lanka</p>
        <p>MP Dhanushika, University of Moratuwa, Sri Lanka</p>
        <p>TC Sandanayake, University of Moratuwa, Sri Lanka</p>
        <p>BLD Seneviratne, University of Moratuwa, Sri Lanka</p>
        <p>WMRM Weerasinghe, University of Moratuwa, Sri Lanka</p>
        <p>Piyumal Ranawaka, University of Moratuwa, Sri Lanka</p>
      </div>
    </div>
    <div>
      <h3 class="paraTitle">REVIEWERS</h3>
      <h6>INTERNATIONAL</h6>
      <div>
        <p>Damith Ranasinghe, University of Adelaide, Australia</p>
        <p>Upul Gunawardana, Western Sydney University, Australia</p>
        <p>Jimson Mathew, Indian Institute of Technology, Patna, India</p>
        <p>Chinthaka Premachandra, Shibaura Institute of Technology, Japan</p>
        <p>Milan Antonovic, University of SUPSI, Switzerland</p>
        <p>Suwannit Chareen Chit, Universiti Utara Malaysia, Malaysia</p>
        <p>Suhaidi Hassan, Universiti Utara Malaysia, Malaysia</p>
        <p>Osman Ghazali, Universiti Utara Malaysia, Malaysia</p>
        <p>Ikram Ud Din, University of Peshawar, Pakistan</p>
        <p>Hooman Samani, National Taipei University, Taiwan</p>
        <p>Daniele Strigaro, University of SUPSI, Switzerland</p>
        <p>C Yun Yang, National Taipei University, Taiwan</p>
        <p>Ibrahim Abdullahi, Ibrahim Badamasi Babangida University, Nigeria</p>
        <p>Kaushal Keraminiyage, University of Huddersfield, United Kingdom</p>
        <p>Thrishantha Nanayakkara, Imperial College, London</p>
        <p>Naseer Alquraishi, Wasit University, Iraq</p>
        <p>Dushyantha Jayatilake, University of Tsukuba, Japan</p>
        <p>S Adhikari, National University of Singapore, Singapore</p>
      </div>
      <h6>LOCAL</h6>
      <div>
        <p>Emeritus Professor DA Tantrigoda, University of Sri Jayewardenepura, Sri Lanka</p>
        <p>AS Karunananda, University of Moratuwa, Sri Lanka</p>
        <p>MFM Firdhous, University of Moratuwa, Sri Lanka</p>
        <p>Manjula Sandirigama, University of Peradeniya, Sri Lanka</p>
        <p>Ruvan Weerasinghe, University of Colombo School of Computing, Sri Lanka</p>
        <p>DDA Gamini University of Sri Jayewardenepura, Sri Lanka</p>
        <p>DEWV Nanayakkara, University of Moratuwa, Sri Lanka</p>
        <p>Ajantha Atukorale, University of Colombo School of Computing, Sri Lanka</p>
        <p>KP Hewagamage, University of Colombo School of Computing, Sri Lanka</p>
        <p>Sanath Jayawardena, University of Moratuwa, Sri Lanka</p>
        <p>Ruwan Gopura, University of Moratuwa, Sri Lanka</p>
        <p>Senaka Amarakeerthi, University of Sri Jayewaredenepura, Sri Lanka</p>
        <p>HT Chaminda, Lanka Nippon BizTech Institute, Sri Lanka</p>
        <p>A Dharmawansa, Wayamba University of Sri Lanaka, Sri Lanka</p>
        <p>TGI Fernando, University of Sri Jayewardenepura, Sri Lanka</p>
        <p>PM Jayaweera, University of Sri Jayewardenepura, Sri Lanka</p>
        <p>L Gunawardena, University of Sri Jayewardenepura, Sri Lanka</p>
        <p>P Kalansuriya, Kothalawala Defence University, Sri Lanka</p>
        <p>WKIL Wanniarachchi, University of Sri Jayewardenepura, Sri Lanka</p>
        <p>PMTB Sandirigama, University of Peradeniya, Sri Lanka</p>
        <p>Thilina Thanthiriwatta, University of Moratuwa, Sri Lanka</p>
        <p>Kaushalya Kumarasinghe, University of Moratuwa, Sri Lanka</p>
      </div>
    </div>
    <div>
      <h3 class="paraTitle">EDITORIAL BOARD</h3>
      <div>
        <p>BH Sudantha, University of Moratuwa, Sri Lanka</p>
        <p>Sanath Jayawardena, University of Moratuwa, Sri Lanka</p>
        <p>TC Sandanayake, University of Moratuwa, Sri Lanka</p>
        <p>CP Wijesiriwardana, University of Moratuwa, Sri Lanka</p>
        <p>KSN Sumathipala, University of Moratuwa, Sri Lanka</p>
      </div>
    </div>
    <div>
      <h3 class="paraTitle">WEB TEAM</h3>
      <div>
        <p>BH Sudantha, Coordinator</p>
        <p>Sandaruwan Wijerathne, Webmaster</p>
        <p>Danushka Dissanayaka, Webmaster</p>
      </div>
    </div>
  </div>
</div>




<!-- <h1 class="text-center title">Organizing Committee</h1> -->
<!-- <hr>
<div class="container">
  <div>
    <h5></h5>
  </div>
</div>
<hr>
<div class="container">
</div>
<hr>
<div class="container">
</div>
<hr>
<div class="container"> -->
<!-- <h3 class="subtitle">TECHNICAL PROGRAMME COMMITTEE CHAIR</h3>
    <div>
      <h5>Dr. Sanath Jayawardena, University of Moratuwa, Sri Lanka</h5>
    </div> -->
<!-- </div>
<hr>
<div class="container"> -->
<!-- <h3 class="subtitle">TECHNICAL PROGRAMME COMMITTEE CO-CHAIR</h3>
    <div>
      <h5>Dr. Dilum Bandara, University of Moratuwa, Sri Lanka</h5>
    </div> -->
<!-- </div>
<hr>
<div class="container">
  <h3 class="subtitle">TECHNICAL PROGRAMME COMMITTEE</h3>
  <h4 class="subtitle">INTERNATIONAL</h4>
  <div>
    <h5>Dr. Damith Ranasinghe, University of Adelaide, Australia</h5>
    <h5>Dr. Upul Gunawardana, Western Sydney University, Australia</h5>
    <h5>Prof. Jimson Mathew, Indian Institute of Technology, Patna, India</h5>
    <h5>Prof. Chan-Yun Yang, National Taipei University, Taiwan</h5>
    <h5>Prof. Chinthaka Premachandra, Shibaura Institute of Technology, Japan</h5>
    <h5>Mr.Suwannit Chareen Chit , Universiti Utara Malaysia, Malaysia</h5>
    <h5>Prof. Suhaidi Hassan, Universiti Utara Malaysia, Malaysia</h5>
    <h5>Prof. Osman Ghazali, Universiti Utara Malaysia, Malaysia</h5>
    <h5>Dr. Ikram Ud Din, University of Peshawar, Pakistan</h5>
    <h5>Dr. Ibrahim Abdullahi, Ibrahim Badamasi Babangida University, Nigeria</h5>
    <h5>Dr. Kaushal Keraminiyage, University of Huddersfield, United Kingdom</h5>
    <h5>Dr. Thrishantha Nanayakkara, Imperial College, London</h5>
    <h5>Dr. Naseer Alquraishi, Wasit University, Iraq</h5>
  </div>
  <h4 class="subtitle">LOCAL</h4>
  <div>
    <h5>Emeritus Professor DA Tantrigoda, University of Sri Jayewardenepura, Sri Lanka</h5>
    <h5>Dr. Manjula Sandirigama, University of Peradeniya, Sri Lanka</h5>
    <h5>Dr. Ruvan Weerasinghe, University of Colombo School of Computing, Sri Lanka</h5>
    <h5>Mr. DDA Gamini University of Sri Jayewardenepura, Sri Lanka</h5>
    <h5>Mrs. Vishaka Nanayakkara, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. Ajantha Atukorale, University of Colombo School of Computing, Sri Lanka</h5>
    <h5>Prof. K.P Hewagamage, University of Colombo School of Computing, Sri Lanka</h5>
    <h5>Dr. Prasad Jayaweera, University of Sri Jayewaredenepura, Sri Lanka</h5>
    <h5>Dr. Senaka Amarakeerthi, University of Sri Jayewaredenepura, Sri Lanka</h5>
    <h5>Dr. HT Chaminda, Lanka Nippon BizTech Institute, Sri Lanka</h5>
    <h5>Dr. A Dharmawansa, Wayamba University of Sri Lanaka, Sri Lanka</h5>
    <h5>Dr. TGI Fernando, University of Sri Jayewardenepura, Sri Lanka</h5>
    <h5>Dr. L Gunawardena, University of Sri Jayewardenepura, Sri Lanka</h5>
    <h5>Dr. P Kalansuriya, Kothalawala Defence University, Sri Lanka</h5>
    <h5>Dr. WKIL Wanniarachchi, University of Sri Jayewardenepura, Sri Lanka</h5>
    <h5>Prof. A.S Karunananda, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr.M.F.M Firdhous, University of Moratuwa, Sri Lanka</h5>
    <h5>Mr. S.C. Premaratne, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. L Ranathunga, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. C.R.J Amalraj, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. S Ahangama, University of Moratuwa, Sri Lanka</h5>
    <h5>Mr. C.P Wijesiriwardana, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. S. Adhikari, University of Moratuwa, Sri Lanka</h5>
    <h5>Mrs. K.A.D.T Kulawansa, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. (Mrs.) K.S.D Fernando, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. G.U Ganegoda, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. (Mrs.) A.T.P Silva, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. K. S. N. Sumathipala, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. (Ms.) T Piyathilake, University of Moratuwa, Sri Lanka</h5>
    <h5>Mrs. M.P. Dhanushika, University of Moratuwa, Sri Lanka</h5>
    <h5>Mrs. W.A.S.N Wijetunge, University of Moratuwa, Sri Lanka</h5>
    <h5>Mr. Prabath Samarasinghe, University of Sri Jayewardenepura, Sri Lanka</h5>
    <h5>Dr. (Mrs.) T.C Sandanayake, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. B.L.D Seneviratne, University of Moratuwa, Sri Lanka</h5>
    <h5>Mrs. W.M.R.M Weerasinghe, University of Moratuwa, Sri Lanka</h5>
    <h5>Ms. G.T Weerasuriya, University of Moratuwa, Sri Lanka</h5>
  </div>
</div>
<hr>-->
<!-- <div class="container">
  <h3 class="subtitle">PUBLICATION COMMITTEE</h3>
  <div>
    <h5>Dr. (Mrs.) A.T.P Silva, University of Moratuwa, Sri Lanka</h5>
    <h5>Mr. C.P Wijesiriwardana, University of Moratuwa, Sri Lanka</h5>
  </div>
</div>
<hr>
<div class="container">
  <h3 class="subtitle">INDUSTRY LIAISON AND SPONSORSHIP COMMITTEE</h3>
  <div>
    <h5>Dr. (Mrs.) T.C Sanadanayake, University of Moratuwa, Sri Lanka</h5>
    <h5>Dr. K. S. N. Sumathipala, University of Moratuwa, Sri Lanka</h5>
  </div>
</div>
<hr>
<div class="container">
  <h3 class="subtitle">PUBLICITY & PUBLIC RELATIONS COMMITTEE</h3>
  <div>
    <h5>Dr. S. Adhikari, University of Moratuwa, Sri Lanka</h5>
    <h5>Mrs. N. Kudamage, University of Moratuwa, Sri Lanka</h5>
    <h5>Ms. Uyani Jayarathne, University of Moratuwa, Sri Lanka</h5>
  </div>
</div>
<hr>
<div class="container">
  <h3 class="subtitle">FINANCE CHAIRS</h3>
  <div>
    <h5>Mr. S.C. Premaratne, University of Moratuwa, Sri Lanka</h5>
    <h5>Ms.GT Weerasuriya, University of Moratuwa, Sri Lanka</h5>
  </div>
</div>
<hr>
<div class="container">
  <h3 class="subtitle">REGISTRATION CHAIRS</h3>
  <div>
    <h5>Dr. (Mrs.) S Ahangama, University of Moratuwa, Sri Lanka</h5>
    <h5>Miss. GT Weerasuriya, University of Moratuwa, Sri Lanka</h5>
    <h5>Ms. P Nanthakumaran, University of Moratuwa, Sri Lanka</h5>
    <h5>Ms. M.A. Dharmara, University of Moratuwa, Sri Lanka</h5>
  </div>
</div>
<hr> -->
