<div class="mainContainer">
    <div class="container">
        <div class="span12 pagination-centered">
            <h3 class="subtitle">Program</h3>
            <hr>
        </div>
    </div>


    <div class="container">
        <div class="span12 pagination-centered">
            <div class="table-responsive">
                <!-- <div>
                    <p class="title">Detailed Program of Fourth International Conference On Information Technology Research (ICITR-2019)
                    </p>
                </div> -->
                <table class="table table-striped table-bordered">
                    <caption style="caption-side: top;">Detailed Program of Fourth International Conference On
                        Information Technology Research (ICITR-2019)</caption>
                    <thead>
                        <tr class="bg-info">
                            <th colspan=4 scope="col" style="text-align: center">Day 1- 12th December, 2019 Thursday
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2"></th>
                            <th>Main Hall</th>
                            <th>Hall A</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9.00 am - 11.00 am</td>
                            <td>Technical Sessions</td>
                            <td>ICITR Technical Session <b><i>(ICITR-S1)</i></b> 
                                <p class="subTitle">Chair: Dr. T.S.S Jayawaradena</p>
                                <p class="subTitle">Co-Chair: Dr.(Mrs.) T.C. Sandanayake</p>
                            </td>
                            <td>ITRU Symposium Technical Session <b><i>(ITRU-S1)</i></b>
                                <p class="subTitle">Chair: Dr. K.S.D. Fernando</p>
                                <p class="subTitle">Co-Chair: Dr.Thilak Chaminda</p>
                            </td>
                        </tr>
                        <tr>
                            <td>11.00 am – 11.30 am</td>
                            <td colspan=3 class="centerdText">Refreshments</td>
                        </tr>
                        <tr>
                            <td>11.30 am – 12.30 pm</td>
                            <td colspan=3>
                                <b> Address by Prof. Dr. Syoji Kobashi </b> <br> <span class="subText">Artificial
                                    Intelligence in Medical Engineering </span>
                            </td>
                        </tr>
                        <tr>
                            <td>12.30 pm – 1.30 pm</td>
                            <td colspan=3 class="centerdText">Lunch</td>
                        </tr>
                        <tr>
                            <td>1.30 pm – 1.50 pm</td>
                            <td colspan=3 class="centerdText">Technical Presentation by sponsors</td>
                        </tr>
                        <tr>
                            <td>2.00 pm – 4.00 pm</td>
                            <td>Technical Sessions</td>
                            <td>ICITR Technical Session <b><i>(ICITR-S2)</i></b>
                                <p class="subTitle">Chair: Prof. Syoji Kobashi</p>
                                <p class="subTitle">Co-Chair: Prof. R.A.R.C. Gopura</p>
                            </td>
                            <td>ITRU Symposium Technical Session <b><i>(ITRU-S2)</i></b>
                                <p class="subTitle">Chair: Dr. Pradeep Kalansooriya</p>
                                <p class="subTitle">Co-Chair: Dr. L. Ranathunga</p>
                            </td>
                        </tr>
                        <tr>
                            <td>4.00 pm – 4.30 pm</td>
                            <td colspan=3 class="centerdText">Refreshments</td>
                        </tr>
                        <tr>
                            <td>7.00 pm – 9.30 pm</td>
                            <td colspan=3 class="centerdText">Inauguration and Banquet (for registered authors,
                                students, and invitees)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <!-- Day 2- 13th December, 2019 Friday -->
            <div lass="table-responsive">
                <table class="table table-striped table-bordered ">
                    <thead>
                        <tr class="bg-info">
                            <th colspan=4 scope="col" style="text-align: center">Day 2- 13th December, 2019 Friday</th>
                        </tr>
                        <tr>
                            <th colspan="2"></th>
                            <th>Main Hall</th>
                            <th>Hall A</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9.00 am - 11.00 am</td>
                            <td>Technical Sessions</td>
                            <td>ICITR Technical Session <b><i>(ICITR-S3)</i></b>
                                <p class="subTitle">Chair: Prof. Chinthaka Premachandra</p>
                                <p class="subTitle">Co-Chair: Mr. C.P. Wijesiriwardena</p>
                            </td>
                            <td>ITRU Symposium Technical Session <b><i>(ITRU-S3)</i></b>
                                <p class="subTitle">Chair: Prof. Chan-Yun Yang</p>
                                <p class="subTitle">Co-Chair: Dr. Surangani Bandara</p>
                            </td>
                        </tr>
                        <tr>
                            <td>11.00 am – 11.30 am</td>
                            <td colspan=3 class="centerdText">Refreshments</td>
                        </tr>
                        <tr>
                            <td>11.30 am – 12.30 pm</td>
                            <td colspan=3>
                                <b> Keynote Address by Professor Hooman Samani</b> <br> <span
                                    class="subText">Cognition-Emotion integration for Affective Human-Robot
                                    Interaction</span>
                            </td>
                        </tr>
                        <tr>
                            <td>12.30 pm – 1.30 pm</td>
                            <td colspan=3 class="centerdText">Lunch</td>
                        </tr>
                        <tr>
                            <td>1.30 pm – 1.50 pm</td>
                            <td colspan=3 class="centerdText">Technical Presentation by sponsors</td>
                        </tr>
                        <tr>
                            <td>2.00 pm – 4.00 pm</td>
                            <td>Technical Sessions</td>
                            <td>ICITR Technical Session <b><i>(ICITR-S4)</i></b>
                                    <p class="subTitle">Chair: Prof. Hooman Samani</p>
                                    <p class="subTitle">Co-Chair: Dr. Palitha Dassanayake</p>
                                </td>
                                <td>ITRU Symposium Technical Session <b><i>(ITRU-S4)</i></b>
                                    <p class="subTitle">Chair: Dr. Sidath Liyanage</p>
                                    <p class="subTitle">Co-Chair: Mr. S.C. Premaratne</p>
                                </td>
                        </tr>
                        <tr>
                            <td>4.00 pm – 4.30 pm</td>
                            <td colspan=3 class="centerdText">Refreshments</td>
                        </tr>
                        <tr>
                            <td>4.00 pm – 4.30 pm</td>
                            <td colspan=3 class="centerdText">Awards Ceremony</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>