<div class="container">
  <div class="span12 pagination-centered">
    <div class="row">
      <div id="small-img" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
        <div>
          <header class="jumbotron my-4">
            <h1 class="display-3">Registration open!</h1>
            <p class="lead">submission now available. before submit please read <a
                [routerLink]="['/Author_instructions']">Author Instructions</a></p>
            <a href="https://easychair.org/conferences/?conf=icitr2019" class="btn btn-primary btn-lg">Submit</a>
          </header>
        </div>
        <div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Description</th>
                <th scope="col">EEE Member (LKR)</th>
                <th scope="col">Non-IEEE Member (LKR)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>