<div class="mainContainer">
  <div class="container">
    <div class="span12 pagination-centered">
      <h3 class="subtitle">Contact Us</h3>
      <hr>
    </div>
  </div>

  <div class="container">
    <div class="span12 pagination-centered">
      <address>
        Information Technology Research Unit<br>
        Faculty of Information Technology,<br>
        University of Moratuwa,<br>
        Moratuwa,<br>
        Sri Lanka,
      </address>
      <p><i class="inline-icon material-icons text-secondary">phone</i> <span class="text-primary">+94 11 265 0286 ext.
          8107</span></p>
      <p> <i class="inline-icon material-icons text-secondary">email</i> <span class="text-primary"> icitr@uom.lk
        </span></p>
    </div>
  </div>
</div>