<h5 class="hedding">{{content.title}}</h5>
<table class="table table-striped table-bordered">
    <caption style="caption-side: top;">
        Chair: {{content.chair}} <br>
        Co-Chair: {{content.coChair}}
    </caption>
    <thead>
        <tr>
            <th style="width: 25%">Time</th>
            <th style="width:25%">Presenter</th>
            <th style="width: 50%">Paper</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let c of content.content">
          <td>{{c.time}}</td>
          <td>{{c.Presenter}}</td>
          <td>{{c.Paper}}</td>
        </tr>
    </tbody>
</table>