<div class="mainContainer">
    <div class="container">
        <div class="span12 pagination-centered">
            <h3 class="subtitle">Engineer Quality in Software</h3>
            <hr>
        </div>
    </div>
    

    <div class="container">
        <div class="span12 pagination-centered">
            <div class="row">
                <div class="col-md-5">
                    <h5>Program Outline</h5>
                    <ul>
                        <li>Introduction to Quality Engineering</li>
                        <li>Quality is never an accident</li>
                        <li>It’s Automation, not Auto magic</li>
                        <li>Functional stability is not enough</li>
                        <li>One vulnerability is all an attacker need</li>
                        <li>Wiley – who we are </li>
                    </ul>
                </div>
                <div class="col-md-5 offset-md-2" >
                    <h5>Trainers</h5>
                    <ul>
                        <li>Kovida Guruge</li>
                        <li>Malindu Hettiarachchi</li>
                        <li>Jayanath Karunarathna</li>
                        <li>Lusitha Perera</li>
                    </ul>

                </div>
            </div>
            <p style="margin-bottom: 0; font-size: 18px; "><b>Date:  </b><span style="font-size: 16px;"> 10<sup>th</sup> December 2019 from 9.00 am to 4.00 pm</span></p>
            <p style="margin-top: 5px; font-size: 18px;">  <b>Venue:</b> <span style="font-size: 16px;"> Faculty of Information Technology, University of Moratuwa</span></p>
        </div>
    </div>
</div>