<div class="mainContainer">
    <div class="container">
        <div class="span12 pagination-centered">
            <h3 class="subtitle">Workshop</h3>
        </div>
    </div>
    <hr>

    <div class="container">
        <div>
            <h3 class="paraTitle"><b>Theme :</b></h3>
            <div>
                <ul>
                    <li>Engineer Quality in Software</li>
                </ul>
            </div>
          </div>
          <div>
            <h3 class="paraTitle"><b>Outline:</b></h3>
            <div>
                <ul>
                        <li>Introduction to Quality Engineering</li>
                        <li>Quality is never an accident</li>
                        <li>It’s Automation, not Auto magic</li>
                        <li>Functional stability is not enough</li>
                        <li>One vulnerability is all an attacker need</li>
                        <li>Wiley – who we are</li>

                </ul>
            </div>
          </div>
          <div>
            <h3 class="paraTitle"><b>Trainers:</b></h3>
            <div>
                <ul>                    
                    <li>Kovida Guruge</li>
                    <li>Malindu Hettiarachchi</li>
                    <li>Jayanath Karunarathna</li>
                    <li>Lusitha Perera</li>
                </ul>
            </div>
          </div>
          <div>
                <h3 class="paraTitle"><b>Date: 10th December 2019, from 9.00 am to 4.00 pm</b></h3>
                <h3 class="paraTitle"><b>Venue: Faculty of Information Technology, University of Moratuwa</b></h3>
            </div>
    </div>
</div>