<div class="mainContainer">
  <div class="container">
    <div class="span12 pagination-centered">
      <h3 class="subtitle">Important Dates</h3>
    </div>
  </div>
  <hr>

  <!--  <div class="container">-->
  <!--    <div class="span12 pagination-centered">-->
  <!--      <ul class="list-group">-->
  <!--        <li class="list-group-item ">Submission of Full Papers 20<sup>th</sup> Octomber, 2019</li>-->
  <!--        <li class="list-group-item">Notification of Acceptance 10<sup>th</sup> November 2019</li>-->
  <!--        <li class="list-group-item">Camera-ready Paper Due 20<sup>th</sup> November 2019</li>-->
  <!--        <li class="list-group-item">Registration (early bird) 20<sup>th</sup> November 2019</li>-->
  <!--        <li class="list-group-item">Registration  30<sup>th</sup> November 2019</li>-->
  <!--        <li class="list-group-item">ICITR 2019 Conference 12<sup>th</sup>-13<sup>th</sup> December 2019</li>-->

  <!--      </ul>-->
  <!-- <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Submission of Full Papers</td>
            <td>20<sup>th</sup> Octomber, 2019</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Notification of Acceptance</td>
            <td>10<sup>th</sup> November 2019</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Camera-ready Paper Due</td>
            <td>20<sup>th</sup> November 2019</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Registration (early bird)</td>
            <td>20<sup>th</sup> November 2019</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Registration Paper Due</td>
            <td>30<sup>th</sup> November 2019</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>ICITR 2019 Conference</td>
            <td>12<sup>th</sup> - 13<sup>th</sup> December 2019</td>
          </tr>
        </tbody>
      </table> -->
  <!-- </div>
  </div> -->



  <div class="container">
    <div class="span12 pagination-centered">
      <!-- <li class="list-group-item">Notification of Acceptance  <span class="tab-space">10<sup>th</sup> November 2019 </span>  </li>
        <li class="list-group-item">Camera-ready Paper Due <span class="tab-space"> 20<sup>th</sup> November 2019 </span></li>
        <li class="list-group-item">Registration (early bird) <span> 20<sup>th</sup> November 2019</span></li>
        <li class="list-group-item">Registration  <span>30<sup>th</sup> November 2019</span></li>
        <li class="list-group-item">ICITR 2019 Conference <span> 12<sup>th</sup>-13<sup>th</sup> December 2019</span></li> -->
      <div class="panel panel-default">
        <table class="table table table-striped">
          <tbody>
            <tr>
              <td> Paper submition deadline </td>
              <td>27<sup>th</sup> October 2019</td>
              <td></td>
            </tr>
            <tr>
              <td>Notification of Acceptance</td>
              <td >17<sup>th</sup> November 2019</td>
              <td></td>
            </tr>
            <tr>
              <td>Camera-ready Paper Due </td>
              <td>25<sup>th</sup> November 2019</td>
              <td></td>
            </tr>
            <tr>
              <td>Registration (early bird) </td>
              <td>25<sup>th</sup> November 2019</td>
              <td></td>
            </tr>
            <tr>
              <td>Registration</td>
              <td>30<sup>th</sup> November 2019</td>
              <td></td>

            </tr>
            <tr>
              <td>ICITR 2019 Conference </td>
              <td>12<sup>th</sup>-13<sup>th</sup> December 2019</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>