<div class="mainContainer">
    <div class="container">
        <div class="span12 pagination-centered">
            <h3 class="subtitle">Important Dates</h3>
            <hr>
        </div>
    </div>
    <div class="container">
        <div class="span12 pagination-centered">
            <div class="panel panel-default">
                <table class="table table table-striped">
                    <tbody>
                        <tr>
                            <td> Paper submission deadline </td>
                            <td><span class="textCutoff"> 20<sup>th</sup> October 2019</span></td>
                            <td>20<sup>th</sup> November 2019</td>

                        </tr>
                        <tr>
                            <td>Notification of Acceptance</td>
                            <td><span class="textCutoff">15<sup>th</sup> November 2019</span></td>
                            <td>30<sup>th</sup> November 2019</td>

                        </tr>
                        <tr>
                            <td>Camera-ready Paper Due </td>
                            <td>05<sup>th</sup> December 2019</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Registration (early bird) </td>
                            <td>30<sup>th</sup> November 2019</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Registration</td>
                            <td>05<sup>th</sup> December 2019</td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>ICITR 2019 Conference </td>
                            <td>12<sup>th</sup>-13<sup>th</sup> December 2019</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>