<div class="mainContainer">
    <div class="container">
        <div class="span12 pagination-centered">
            <h3 class="subtitle">Keynote Abstract</h3>
            <hr>
        </div>
    </div>
    

    <div class="container" style="margin-bottom: 130px">
        <div class="span12 pagination-centered">
            <div>
                <h4>Prof. Syoji Kobashi</h4>
                <p class="titleClose">Title:</p>
                <p class="card-text">Artificial Intelligence in Medical Engineering</p>
                <img src="assets\img\Prof. Syoji.jpg" style="width: 15rem;" class="rounded float-right" alt="...">
                <p class="titleClose">Abstract:</p>
                <p>
                    There is no doubt that artificial intelligence (AI) will play the important role of the future medical science. In this talk, I will survey the current progress of AI-powered medical instruments, and introduce the details of our developed systems. It
                    will include the computer-aided diagnosis of medical images, and disease prediction based on medical image analysis and AI
                </p>
            </div>
        </div>
    </div>
</div>