<div class="mainContainer">
  <div class="container">
    <div class="span12 pagination-centered">
      <h3 class="subtitle">Author Instructions</h3>
    </div>
  </div>
  <hr>

  <div class="container">
    <div class="span12 pagination-centered">
      <div>
        <h4>Prof. Dr. Syoji Kobashi</h4>
        <img src="assets\img\Prof. Syoji.jpg" style="width: 15rem;" class="rounded float-right" alt="...">
        <p>
          Prof. Syoji Kobashi received BE in 1995, ME in 1997, and Doctor of Engineering in 2000, all from Himeji
          institute of Technology. He was an assistant professor at Himeji Institute of Technology (2000-2004), an
          associate professor at University of Hyogo (2005-2016), currently an professor at University of Hyogo (2016-),
          a manager of Advanced Medical Engineering Research Center, University of Hyogo (2016-), and an assistant dean
          of Gradyate School of Engineering, University of Hyogo (2018-).
        </p>
        <p>
          He was a guest associate professor at Osaka University, WPI immunology frontier research center (2010-2016),
          and was a visiting scholar at Department of Radiology, University of Pennsylvania (2011-2012). His research
          interests include medical image understanding and artificial intelligence. He received 16 international
          awards, including Lifetime Achievement Award (WAC, 2016), Franklin V. Taylor Memorial Award (IEEE-SMCS, 2009),
          and IEEE-EMBS Japan Young Investigators Competition (EMBS Japan Chapter, 2003). He has been serving on the
          publication chair of IEEE SMC2018, the chair of IFMIP since 2012, General Co-chair of ICIEV since 2016, and
          others. Moreover, he is an editor-at-large of Intelligent Automation & Soft Computing journal, an associate
          editor of 4 journals, and a guest editor of some special issues. And, he is organizing many special sessions
          in international conferences including IEEE SMC and IEEE EMBC. He is the senior member of IEEE.

        </p>
      </div>
      <div>
        <h4>Professor Hooman Samani</h4>
        <img src="assets\img\Hooman_Samani.jpg" style="width: 15rem;" class="rounded float-right" alt="...">
        <p>
          Hooman Samani is the Director of the AIART Lab (Artificial Intelligence and Robotics Technology Laboratory)
          and an Associate Professor with the Department of Electrical Engineering, College of Electrical Engineering
          and Computer Science, National Taipei University, Taiwan. His career in robotics and artificial intelligence
          research has spanned many countries. He was awarded a PhD degree from the Graduate School for Integrative
          Science and Engineering (NGS), Electrical & Computer Engineering Department, National University of Singapore
          (NUS).
        </p>
        <p>


          After obtaining his PhD degree he became a Research Fellow at the Keio-NUS CUTE Center, which is a
          collaborative research center with locations in both the National University of Singapore (NUS) and Keio
          University in Japan. His proposed research topic is Lovotics, which involves multidisciplinary research in
          artificial intelligence for human-robot affective relationships. This research comprises of several topics
          including robotics, engineering, computer science, interaction design, philosophy, psychology, mathematics,
          computational neuroscience, art and computational intelligence, for developing a truly interactive robot with
          pragmatic affection. Lovotics robots, Kissenger, Mini-Surrogate and XOXO are some novel applications of
          Lovotics research.

        </p>
      </div>
    </div>
  </div>
</div>