<div class="mainContainer">
    <div class="container">
        <div class="span12 pagination-centered">
            <h3 class="subtitle">Keynote Abstract</h3>
            <hr>
        </div>
    </div>
    

    <div class="container">
        <div class="span12 pagination-centered">
            <div>
                <h4>Professor Hooman Samani</h4>
                <p class="titleClose"> <strong>Title:</strong></p>
                <p class="card-text"> Integration for Affective Human-Robot Interaction</p>
                <img src="assets\img\Hooman_Samani.jpg" style="width: 15rem;" class="rounded float-right" alt="...">
                <p class="titleClose"><strong>Abstract:</strong></p>
                <p>
                    In this talk, the integration of emotions in cognitive robotics will be discussed as a multidisciplinary research field utilizing fundamentals concepts from robotics, artificial intelligence, philosophy, psychology, biology, anthropology, neuroscience,
                    social science, computer science and engineering. Proposed approach provides a system allowing the development of functionalities based on multidisciplinary research yielding a new form of affective interaction between robots and humans.
                </p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>