<div class="mainContainer">
  <div class="container">
    <div class="span12 pagination-centered">
      <h3 class="subtitle">Author Instructions</h3>
    </div>
  </div>
  <hr>

  <div class="container">
    <div class="span12 pagination-centered">
      <h4 class="paraTitle">01. Submission guidelines</h4>
      <p>
        The authors are invited to submit their full papers to ICITR2019. The submissions will be peer-reviewed for
        originality and scientific quality. The accepted full Papers will be submitted to the IEEE Xplore® digital
        library which will send to be indexed by all major citation databases such as Ei Compendex, Scopus, Google
        Scholar, etc.

        Authors can submit two types of papers: short papers (up to 6 pages in length) and full papers (up to 10 pages
        in length). Page limits include diagrams and appendices. Submissions should be formatted according to the
        formatting instructions IEEE style (Please see following links.) including results, figures, and references.
        <a href="https://www.ieee.org/conferences/publishing/templates.html">
          https://www.ieee.org/conferences/publishing/templates.html</a>
        Submit papers through
      </p>

      <h4 class="paraTitle">02.Review process</h4>
      <p>The review process will be double-blind. Each paper is submitted to one of the given tracks. Each submission
        will receive at least three independent reviews in the track. The goal of the review step is to provide
        constructive evaluation of a submitted paper. Each submission will also receive a composite score in addition to
        a comprehensive review. The submission will be discussed between the PC members who reviewed the paper and the
        track chairs, and submissions in each track will be ranked based on factors including technical merits,
        originality of work, potential impact of results, quality of execution, quality of presentation, adequacy of
        citations, and reproducibility, and recommended for presentation at the conference and awards.
        Accepted submissions will comprise sets of full papers (maximum of 10 pages) with oral presentations, and short
        papers (maximum of 6 pages) with poster presentations. Some full-paper submissions may be accepted as short
        papers. Author consent to accept full-paper submissions as short papers will be sought during full-paper
        submission.</p>

      <h4 class="paraTitle">03. Additional Guidelines</h4>
      <p>Authors should guarantee the anonymity of their submissions before the Cemare-ready submission. Please remove
        names and affiliations from the first page. Please avoid obvious identifying statements in the paper. Citations
        to your own relevant work should not be anonymous, but rather should be done without identifying yourself as the
        author. All documents must be submitted in the PDF format.</p>
    </div>
  </div>
</div>