<div class="mainContainer">
    <div class="container">
        <div class="span12 pagination-centered">
            <h3 class="subtitle">Author Instructions</h3>
            <hr>
        </div>
    </div>

    <div class="container">
        <div class="span12 pagination-centered">
            <div class="jumbotron my-4">
                <h1 class="display-6">Paper Submission is now available!</h1>
                <p class="lead text-danger">Submission is due on 20<sup>th</sup> November 2019</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="https://easychair.org/conferences/?conf=icitr2019" role="button">Submit</a>
                </p>
            </div>
            <ul>
                <li>papers should be submitted.</li>
                <li>All papers should be written in English.</li>
                <li>Maximum length of a paper is limited to 6 A4 pages.</li>
                <li>The papers should be prepared following IEEE format.</li>
                <li>IEEE templates could be found <a href="https://www.ieee.org/conferences/publishing/templates.html">here.</a>
                </li>
                <li>All papers should be submitted through <a href="https://easychair.org/conferences/?conf=icitr2019">easychair.</a></li>
                <li>All paper submissions should be in PDF format only.</li>
                <li>Authors have to make sure for not having grammatical mistakes and proper formatting.</li>
                <li>A plagiarism check will be done for all the submissions before they send for reviewing process.</li>
                <li>The review process will be single-blind.</li>
                <li>Each submission will receive at least three independent reviews in the track.</li>
            </ul>
        </div>
    </div>
</div>