<div class="mainContainer">
  <div class="container">
    <div class="span12 pagination-centered">
      <h3 class="subtitle">Author Instructions</h3>
    </div>
  </div>
  <hr>

  <div class="container">
    <div class="span12 pagination-centered">
      <h5 class="paraTitle">01. Full papers should be submitted.</h5>
      <h4 class="paraTitle">02. All papers should be written in English.</h4>
      <h4 class="paraTitle">03. Maximum length of a paper is limited to 6 A4 pages.</h4>
      <h5 class="paraTitle">04. The papers should be prepared following IEEE format.</h5>
      <h4 class="paraTitle">05. IEEE templates could be found <a target="_blank" href="https://easychair.org/conferences/?conf=icitr2019">here</a>.</h4>
      <h4 class="paraTitle">06. All papers should be submitted through easychair. </h4>
      <h5 class="paraTitle">07. All paper submissions should be in PDF format only.</h5>
      <h4 class="paraTitle">08. Authors have to make sure for not having grammatical mistakes and proper formatting.</h4>
      <h4 class="paraTitle">09. A plagiarism check will be done for all the submissions before they send for reviewing process.</h4>
      <h5 class="paraTitle">10. The review process will be double-blind.</h5>
      <h4 class="paraTitle">11. Each submission will receive at least three independent reviews in the track. </h4>
      <h4 class="paraTitle">12. Please remove names and affiliations from the first page before submitting your papers.</h4>
    </div>
  </div>
</div>
