<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" [routerLink]="['']" href="#">ICTR2019</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['']" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['keynote-speakers']">Keynote</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['committees']">Committees</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          For Authors
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a  [routerLink]="['callForPapers']" class="dropdown-item">Call For Papers</a>
          <a  [routerLink]="['important-dates']"class="dropdown-item" href="#">Important Dates</a>
          <div class="dropdown-divider"></div>
          <a [routerLink]="['Author_instructions']" class="dropdown-item" href="#">Author Instructions</a>
          <a [routerLink]="['cammera-reay-papers']"class="dropdown-item" href="#">Camera Ready Paper Instructions</a>
          <a [routerLink]="['Presenter-information']" class="dropdown-item" href="#">Presenter Information</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['program']">Program</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['registration']" class="nav-link" href="#">Registration</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_2" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Accommodation/ Travel
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
          <a  [routerLink]="['callForPapers']" class="dropdown-item">Venue</a>
          <a  [routerLink]="['important-dates']"class="dropdown-item" href="#">Travel</a>
          <div class="dropdown-divider"></div>
          <a [routerLink]="['Author_instructions']" class="dropdown-item" href="#">Accommodation</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
