<div class="mainContainer">
  <div class="container">
    <div class="span12 pagination-centered">
      <h3 class="subtitle">Presenter Information</h3>
    </div>
  </div>
  <hr>

  <div class="container">
    <div class="span12 pagination-centered">
      <!-- Content here -->
      <div>
        <h4 class="paraTitle">01. Title</h4>
        <p>Content</p>
      </div>
      <div>
        <h4 class="paraTitle">02. Title</h4>
        <p>
          Content
        </p>
      </div>
      <div>
        <h4 class="paraTitle">03. Title</h4>
        <p>Content</p>
      </div>
    </div>
  </div>
</div>