<div class="mainContainer">
    <div class="container">
        <div class="span12 pagination-centered">
            <h3 class="subtitle">Keynote Speakers</h3>
            <hr>
        </div>
    </div>
    

    <div class="container">
        <div class="span12 pagination-centered">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card" style="width: 22rem;">
                        <div class="card-body">
                            <img src="assets\img\Hooman_Samani.jpg" class="card-img-top" alt="...">
                            <h5 class="">Professor Hooman Samani</h5>
                            <p class="card-text">Prof. Hooman Samani is the Director of the AIART Lab (Artificial Intelligence and Robotics Technology Laboratory) and an Associate Professor with the Department of Electrical Engineering, College of Electrical Engineering and
                                Computer Science, National Taipei University, Taiwan.
                            </p>
                            <p class="titleClose">Title</p>
                            <p class="card-text">Cognition-Emotion integration for Affective Human-Robot Interaction</p>
                            <a href="#" [routerLink]="['/abstract-keynote']" class="btn btn-primary">Abstract</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" style="width: 22rem;">
                        <div class="card-body">
                            <img src="assets\img\Prof. Syoji.jpg" class="card-img-top" alt="...">
                            <h5 class="card-title">Prof. Dr. Syoji Kobashi</h5>
                            <p class="card-text">Prof. Dr. Syoji Kobashi is currently a Professor at University of Hyogo, a manager of Advanced Medical Engineering Research Center, University of Hyogo and an assistant Dean of Graduate School of Engineering, University of
                                Hyogo.
                            </p>
                            <p class="titleClose">Title</p>
                            <p class="card-text">Artificial Intelligence in Medical Engineering</p>
                            <a href="#" [routerLink]="['/abstract-keynote2']" class="btn btn-primary">Abstract</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>