/* You can add global styles to this file, and also import other style files */
hr{
    width:60%;
}

.title{
    font-family: Arial Narrow, sans-serif;
}
.subtitle{
    font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 20px;
}

.paraTitle{
    font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 18px;
    // text-decoration: underline;
    margin-top:30px;

}
body{
    background-color: rgba(0, 0, 0, 0)
}

.mainContainer{
    margin-top: 3%
}