<div class="mainContainer">
  <div class="container">
    <div class="span12 pagination-centered">
      <h3 class="subtitle">Session Schedule</h3>
      <hr>
    </div>
  </div>

  <div class="container">
    <div class="span12 pagination-centered">
      <div class="row">
        <div class="col-3">
          <div class="list-group" id="list-tab" role="tablist">
              <P><b>12th December, 2019 Thursday</b></P>
              <a class="list-group-item list-group-item-action active" id="list-icitrS1-list" data-toggle="list" href="#list-icitrS1" role="tab" aria-controls="icitrS1"> <b>ICITR-S1</b> <br> (9.00 am - 10.30 am)</a>
              <a class="list-group-item list-group-item-action" id="list-itruS1-list" data-toggle="list" href="#list-itruS1" role="tab" aria-controls="itruS1"> <b>ITRU-S1</b> <br> (9.00 am - 10.30 am)</a>
              <a class="list-group-item list-group-item-action" id="list-icitrS2-list" data-toggle="list" href="#list-icitrS2" role="tab" aria-controls="icitrS2"> <b>ICITR-S2 <br></b>(01.30 pm – 03.00 pm)</a>
              <a class="list-group-item list-group-item-action" id="list-itruS2-list" data-toggle="list" href="#list-itruS2" role="tab" aria-controls="itruS2"> <b>ITRU-S2</b> <br> (01.30 pm – 03.00 pm)</a>
              <br>
              <P> <b> 13th December, 2019 Thursday</b></P>
              <a class="list-group-item list-group-item-action" id="list-icitrS3-list" data-toggle="list" href="#list-icitrS3" role="tab" aria-controls="icitrS3"> <b>ICITR-S3</b><br>(9.00 am - 10.30 am)</a>
              <a class="list-group-item list-group-item-action" id="list-itruS3-list" data-toggle="list" href="#list-itruS3" role="tab" aria-controls="itruS3"> <b>ITRU-S3</b> <br> (9.00 am - 10.30 am)</a>
              <a class="list-group-item list-group-item-action" id="list-icitrS4-list" data-toggle="list" href="#list-icitrS4" role="tab" aria-controls="icitrS4"><b>ICITR-S4 <br></b>(01.30 pm – 03.00 pm)</a>
              <a class="list-group-item list-group-item-action" id="list-itruS4-list" data-toggle="list" href="#list-itruS4" role="tab" aria-controls="itruS4"> <b>ITRU-S4</b><br>(01.30 pm – 03.00 pm)</a>

          </div>
        </div>
        <div class="col-9">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-icitrS1" role="tabpanel" aria-labelledby="list-icitrS1-list"><app-table [content]="icitrS1"></app-table></div>
            <div class="tab-pane fade" id="list-itruS1" role="tabpanel" aria-labelledby="list-itruS1-list"><app-table [content]="itruS1"></app-table></div>
            <div class="tab-pane fade" id="list-icitrS2" role="tabpanel" aria-labelledby="list-icitrS2-list"><app-table [content]="icitrS2"></app-table></div>
            <div class="tab-pane fade" id="list-itruS2" role="tabpanel" aria-labelledby="list-itruS2-list"><app-table [content]="itruS2"></app-table></div>

            <div class="tab-pane fade" id="list-icitrS3" role="tabpanel" aria-labelledby="list-icitrS3-list"><app-table [content]="icitrS3"></app-table></div>
            <div class="tab-pane fade" id="list-itruS3" role="tabpanel" aria-labelledby="list-itruS3-list"><app-table [content]="itruS3"></app-table></div>
            <div class="tab-pane fade" id="list-icitrS4" role="tabpanel" aria-labelledby="list-icitrS4-list"><app-table [content]="icitrS4"></app-table></div>
            <div class="tab-pane fade" id="list-itruS4" role="tabpanel" aria-labelledby="list-itruS4-list"><app-table [content]="itruS4"></app-table></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>